
.article-box{
    margin-bottom: 50px;
}

.article-box > .article-img{
    overflow: hidden;
    height: 260px;
}

.article-box > .article-img > img{
    min-width: 100%;
    min-height: 100%;
}

.article-foot{
    padding-bottom: 5px;
    padding-top: 15px;
    overflow: hidden;
    position: relative;
}

.author{
    text-align: right;
}

.article-foot > .date {
    border: 1px solid gray;
    padding: 5px;
    float: left;
}

.article-foot .date p.day{
    color: darkgray;
    margin: 0px;
}

.article-foot .date p.year{
    color: dodgerblue;
    margin: 0px;
    font-weight: bold;
}

.article-text{
    background-color: white;
    margin-top: 5px;
    text-align: left;

}

.article-box > .article-text h4 {
    margin: 0;
    color: dodgerblue;
}

.article-box > .article-text p {
    margin: 0;
    margin-top: 8px;
    font-size: 12px;
    color: rgb(116, 116, 116);
}