.author{
    text-align: right;
}

.article-text{
    background-color: white;
    margin-top: 5px;
    text-align: left;
    height: 180px;
    overflow: hidden;
}

/* news section and articles styles */

.news-section{
    padding-top: 15px;
    padding-bottom: 90px;
    width: 100%;
    background: #FFF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, white, #E2E8EA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, white, #E2E8EA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.news-section .thumbnail .article-title{
    color: #3B3B3B;
    font-size: 21px;
    font-family: mplusheavy;
    text-align: start;
}

.news-section .thumbnail .content{
    color: #717171;
    overflow: hidden;
    text-align: start;
    font-family: mplusregular;
    font-size: 18px;
}

.news-section .thumbnail{
    padding: 0px;
    box-shadow: 0px 3px 25px -2px rgba(92,92,92,1);
    min-height: 510px;
    position: relative;
}

.news-section .thumbnail .caption{
    margin-top: 0px;
    border: 0px;
    padding: 20px 20px;
}

.news-section .thumbnail .caption a{
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
}

.news-section .thumbnail .caption a:hover {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.article-footer{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}

.article-footer .date{
    color: #293038;
    font-size: 15px;
    font-family: 'Fira Sans';
}

.article-footer .line{
    height: 1px;
    flex: 1;
    background-color: #ECEFEF;
}

.article-footer .btn-round{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3B3B3B;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.article-footer .btn-round a{
    margin: 0 auto;
}

.main-img{
    max-width: 100%;
}

.top-card{
    padding: 0;
}

.main-col{
    padding: 0;
}

.modal-title{
    font-family: mplusmedium;
}

#myModal .bx-wrapper .bx-caption span{
    font-family: mplusregular;
}

#myModal .btn{
    font-family: mplusregular;
}

@media screen and (max-width: 768px){
    .news-section .thumbnail{
        margin-top: 20px;
    }

    .news-section .thumbnail .caption{
        height: unset;
        padding: 10px 15px;
    }

    .news-section .thumbnail .article-title{
        font-size: 14px;
    }

    .news-section .thumbnail .content{
        font-size: 17px;
    }

    .article-footer .btn-round{
        height: 30px;
        width: 30px;
    }

    .news-section .thumbnail{
        max-height: 350px;
        min-height: unset;
    }

    .article-footer{
        position: relative;
    }
}

/* news section and articles styles */