body{
    font-family: mangaFont;
}

.main-page-header{
    height: 240px;
    text-align: center;
    background-image: url('../../R/gsbg/hammer.jpg');
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    opacity: 0.9;
}

.main-page-header .title{
    color: #FFF;
    margin: 0 auto;
    font-size: 40px;
    font-family: mplusmedium;
}

.main-page-header .title.down{
    font-family: 'Fira Sans';
    font-weight: 300;
}

.main-page-header .wrapper{
    margin: 0 auto;
}

.title-page{
    text-align: center;
    position: relative;
    padding: 20px;
}

.title-page h3{
    color: #FEFFFD;
    font-family: mangaFont;
    transform: skew(30deg);
    margin: 0;
}

.title-page .title-bg{
    height: auto;
    display: inline-block;
    margin: auto;
    transform: skew(-30deg);
    background-color: #0052A5;

    padding: 14px;
    padding-right: 18px;
    padding-left: 18px;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 168);
}

.services-container .row{
    margin: 0;
}

.service{
    display: inline-flex;
    margin-top: 50px;
    padding: 0;
}

.service .left{
    display: inline-flex;
}

.service .right{
    display: inline-flex;
    padding: 0;
}

.service .bullet-point-container .bulletpoint{
    height: 2px;
    margin-top: 55px;
    margin-left: 20px;
    margin-right: 8px;
    background-color: #272727;
    width: 40px;
}

.service img{
    width: 100%;
    height: 100%;
}

.service .service-title{
    color: rgb(34, 121, 207);
    font-size: 2.8rem;
    font-family: mpluslight;
}

.service .service-body{
    font-family: mplusregular;
    margin-top: 10px;
}

.gallery .gallery-title{
    text-align: center;
    padding: 20px;
}

.gallery .gallery-title h2{
    color: #464646;
    font-family: mangaFont;
    font-size: 36px;
}

#thumbnail-slider ul li {
}

@media screen and (max-width: 770px) {
    .service .service-title{
        font-size: 3rem;
        font-family: mplusregular;
    }

    .service .service-body{
        font-family: mpluslight;
    }

    .right .even {
        margin-top: 20px;
    }

    .odd{
        margin-top: 25px;
    }

}