
body{
    font-family: mangaFont;
}

.main-page-header{
    background-color: #272727;
    padding: 40px;
    text-align: center;
}

.main-page-header h1{
    color: #FFF;
}

.title-page{
    text-align: center;
    position: relative;
    padding: 20px;
}

.title-page h3{
    font-family: firalight;
    color: #FEFFFD;
    transform: skew(30deg);
    margin: 0;
}

.title-page .title-bg{
    height: auto;
    display: inline-block;
    margin: auto;
    transform: skew(-30deg);
    background-color: #0052A5;

    padding: 14px;
    padding-right: 18px;
    padding-left: 18px;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 168);
}

.info-container .row{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
}

.info-container .row .icon{
    margin-right: 16px;
}

.info-row{
    display: inline-flex;
    padding: 0px;
    border: 1px solid #0052A4;
    margin-top: 40px;
}

.info-row .icon .icon-inside{
    position: absolute;
    top: 0px;
    transform: translate(50%, 50%);
}

.info-row .description{
    width: 40%;
    margin-top: 12px;
    padding: 0px;
    color: #0052A4;
    font-weight: bold;
    font-family: mpluslight;
}

.info-row .info-content{
    color: #2C2C2C;
    width: 60%;
    margin: auto;
    padding: 10px;
    font-family: mplusthin;
}


.address-container{
    margin-top: 60px;
    background-color: #17897F;
    padding-top: 80px;
    padding-bottom: 40px;
}

.address-container .row .thumbnail{
    padding: 0;
    color: #FFF;
    border-color: transparent;
    margin-top: 20px;
}



.address-container .row .thumbnail .t-hdr{
    background: url('../R/address-box-header.png');
    height: 69px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    background-size: cover;
}

.t-hdr .txt{
    text-align: start;
    font-family: mpluslight;
}

.caption .row-itm{
    padding: 0;
    font-family: mplusthin;
    font-size: 2.0rem;
}

.caption .row-itm.num{
    font-family: firaregular;
}

.caption .row-itm.ic{
    text-align: center;
}

.address-container .row .caption{
    padding: 12px;
    margin-top: 0px;
    background-color: #343434;
    color: #FFF;
    border: 0px;
    border-radius: 0px;
    height: 200px;
}

.address-container .row .caption img{
    max-width: 100%;
    height: auto;
    padding: 0;
}

.address-container .row .caption > table tr{
    height: 30px;
}

.address-container .row .caption > table tr td{
    font-family: mangaFont;
}

/* media querys for title sizes for xs screens */
@media screen and (max-width: 768px){
    .info-container .row{
        padding-top: 0px;
    }

    .address-container .row .thumbnail{
        margin-top: 8px;
    }

    .address-container{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .address-container .row .caption{
        height: 75px;
    }
    
}