
body{
    font-family: mangaFont;
}

.main-page-header{
    height: 240px;
    text-align: center;
    background-image: url('../../R/gsbg/nails.jpg');
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    opacity: 0.9;
}

.main-page-header .title{
    color: #FFF;
    margin: 0 auto;
    font-size: 40px;
    font-family: mplusmedium;
}

.main-page-header .wrapper{
    margin: 0 auto;
}

.main-page-header .title.down{
    font-family: 'Fira Sans';
    font-weight: 300;
}

.info-container .row{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
}

.info-row{
    padding: 0px;
    border: 1px solid #0052A4;
    margin-top: 40px;
    box-shadow: -3px 3px 11px 0px #706e6e;
}

.info-row .icon .icon-inside{
    position: absolute;
    top: 0px;
    transform: translate(50%, 50%);
}

.info-row .description{
    margin-top: 12px;
    color: #0052A4;
    font-family: mplusregular;
    font-size: 1.8rem;
}

.info-row .info-content{
    color: #2C2C2C;
    padding: 10px;
    font-family: mplusregular;
}


.address-container{
    margin-top: 60px;
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 80px;
    padding-bottom: 40px;
}

.address-container .row .thumbnail{
    padding: 0;
    color: #FFF;
    border-color: transparent;
    margin-top: 20px;
    box-shadow: 0px 3px 25px 3px rgba(153,153,153,1);
}



.address-container .row .thumbnail .t-hdr{
    background: url('../R/address-box-header.png');
    height: 69px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    background-size: cover;
}

.t-hdr .txt{
    text-align: start;
    font-family: mpluslight;
}

.caption .row-itm{
    padding: 0;
    font-family: mplusthin;
    font-size: 1.6rem;
}

.caption .row-itm.num{
    font-family: 'Fira Sans';
}

.caption .row-itm.ic{
    text-align: center;
}

.address-container .row .caption{
    padding: 12px;
    margin-top: 0px;
    background-color: #343434;
    color: #FFF;
    border: 0px;
    border-radius: 0px;
    min-height: 170px;
    max-height: 220px;
}

.address-container .row .caption img{
    max-width: 100%;
    height: auto;
    padding: 0;
}

.address-container .row .caption > table tr{
    height: 30px;
}

.address-container .row .caption > table tr td{
    font-family: mangaFont;
}

/* media querys for title sizes for xs screens */
@media screen and (max-width: 768px){
    .info-container .row{
        padding-top: 0px;
    }

    .address-container .row .thumbnail{
        margin-top: 8px;
    }

    .address-container{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    
    .caption .row-itm{
        text-align: center;
        padding: 2px 0;
    }
}