footer {
    background:black;
    border-top:2px solid #0ea6ff;
    padding-top: 70px;
   }

   footer .container{
       padding: 0px;
       width: 100%;
   }

   .widget h2 {
    cursor:pointer;  
    font-size:28px;
    color: white;
    margin: 0px;
    margin-bottom: 10px;
   }
   .footer-bottom {
    background: black;
    padding:15px 0;
    margin-top: 20px;
    border-top:1px solid #d9d9d9;
    font-size:11px;
    color:#777;
   }

   footer ul{
       margin: 0;
       padding: 0;
       list-style: none;

   }

   footer ul li {
       display: list-item;
       padding-top: 10px;
       padding-bottom: 10px;
       color: white;
   }

   footer ul li img{
       width: 30px;
       height: 30px;
       padding: 5px;
   }

   footer ul li a{
       padding-left: 5px;
       color: white;
   }

   footer p{
       color: white;
       margin: 0px;
       padding-top: 15px;
   }

   footer img {
        height: 50px;
   }
     
   @media only screen and (max-width: 479px) {    
        .widget_content{
           display:none;
       }
       .active .widget_content{
           display:inline;	
       }
       .widget h2 { 
           border-bottom:1px solid #ddd;
       }   
       .widget h2:after {
           content:"\203A";
           color:white;
           width:20px;
           height:20px;
           background:#999;
           display:inline-block;
           text-align:center;
           float:right;
       }
       .active.widget h2:after {
           content:"\2039";    
           background:#ccc;
       }
   }