footer {
    background-color: #1D1D1D;
    border-top:2px solid #0ea6ff;
    padding-top: 100px;
   }

   footer .container{
       padding: 0px;
       width: 100%;
   }

   .widget h2 {
       font-family: mplusmedium;
        text-align: left;
        font-size:28px;
        color: white;
        margin: 0px;
        margin-bottom: 10px;
   }

   .footer-bottom {
    padding:0px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size:11px;
    color:#0252A7;
   }

   .disclaimer{
       text-align: center; 
       color: #545454; 
       font-size: 13px;
       font-family: firalight;
   }

   .footer-bottom .pull-right{
       float: none!important;
       color: #0152A4;

   }

   footer .divider{
       height: 2px;
       background-color: #3C3C3C;
       margin-top: 30px;
   }

   footer ul{
       margin: 0;
       padding: 0;
       list-style: none;
       text-align: left;
   }

   footer ul li {
       display: list-item;
       padding-top: 10px;
       padding-bottom: 10px;
       color: white;
       font-size: 18px;
       cursor:pointer;  
   }

   footer ul li img{
       width: 30px;
       height: 30px;
       padding: 5px;
   }

   footer ul li a{
       padding-left: 5px;
       color: white;
   }

   footer ul li a.num{
    font-family: firaregular;
}

   footer ul li a:focus, a:hover{
    font-size: 19px;
    color: #0052A4;
    text-decoration: none!important;
}
   

   footer p{
       color: white;
       margin: 0px;
       padding-top: 15px;
   }

   footer img {
        width: 90%;
        cursor: pointer;
   }

   
   @media only screen and (max-width: 770px) {  
        .container .list{
            margin-top: 22px;
        }

        footer{
            padding-top: 45px;
        }
    }
     
   @media only screen and (max-width: 479px) {    
        .widget_content{
           display:none;
        }
       .widget_content.active {
           display:inline;	
        }
       .widget h2 { 
           border-bottom:1px solid #ddd;
           font-family: mplusregular;
           font-size: 1.8rem;
        }   
       .widget h2:after {
           content:"\203A";
           color:white;
           width:20px;
           height:20px;
           background:#999;
           display:inline-block;
           text-align:center;
           float:right;
        }
   }