html,
body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
}

.row .thumbnail{
    padding: 10px;
    background-color: white;
}

.row .thumbnail .logo-container {
    border: 2px solid #52E3FE;
    padding: 20px 10px;
}

.row .thumbnail .logo-container img{
    max-width: 100%;
    cursor: pointer;
}

.row .thumbnail .logo-container img.arch_img{
    cursor: unset;
}

body .header .main-title{
    text-align: center;
    padding: 15px;
    margin: 60px 0px;
}

body .header .main-title img{
    max-width: 90%;
}

body .header .main-title >h1{
    color: white;
    font-size: 80px;
    font-family: mangaFont;
    margin: 0;
}

body .header .main-title .subtitle{
    color: white;
    font-size: 20px;
    font-family: mangaFont;
}

body .footer{
    background: #2C2C2C;
    border: 0px;
    margin: 0;
    border-radius: 0px;
}

body .row.slider{
    padding: 30px 0px;
}

body .row .slider-container .thumbnail{
    padding: 10px;
    border: 1px solid white;
    background: transparent;
}

body .row .slider-container .thumbnail .bx-pager-item a{
    border-radius: 0px;
    width: 50px;
    background-color: #BEB9C0;
}

.slider-container .thumbnail .bx-pager.bx-default-pager a:hover, 
.slider-container .thumbnail .bx-wrapper .bx-pager.bx-default-pager a.active, 
.slider-container .thumbnail .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background-color: #291E24;
}

body footer{
    display: flex;
    align-items: center;
}

body footer p{
    color: #ECECEC;
}

body footer p span.owl{
    color: #054F98;
    font-weight: bold;
}

body footer p span.blitz{
    color: #0FC121;
    font-weight: bold;
}

body footer p.footer-block{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: .55em;
}

@media screen and (max-width: 768px){
    body .header .main-title >h1{
        font-size: 40px;
    }

    body .header .main-title .subtitle{
        font-size: 16px;
    }

    body .row .slider-container .thumbnail{
        padding: 0;
        margin: 0;
        border: none;
    }

    .slider-container .thumbnail .bx-wrapper{
        border: none;
        margin: 0;
    }

    body .row.slider{
        padding: 0;
        margin-top: 45px;
    }
}