@font-face{
    font-family: mangaFont;
    src: url('../fonts/antique/GenEiAntiqueTP-M.ttf');
}

/* SUBSET Japanese (EUC)

あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわをんアイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨラリルレロワヲンがぎぐげござじずぜぞだぢづでどばびぶべぼぱぴぷぺぽガギグゲゴザジズゼゾダヂヅデドバビブベボパピプペポぁぃぅぇぉっゃゅょァィゥェォヶッャュョ、。♂ˇ〖×々—∈∷≈∽¨】啊哎哀唉郏碍爱暗胺案万奥捌芭笆搬疤跋板巴把耙百摆斑坝佰败班拔柏酌罢般拜爸颁稗拌伴办绊帮榜膀苞磅傍蚌谤镑薄包雹胞保堡宝抱暴鲍贝莸捆焙笨崩笔彼毖鼻鄙蹦庇逼痹币白敝弊闭必辟臂壁避边变辫标卞便刹辩编膘鳖斌濒宾遍憋别兵拨柄丙炳饼病并菠播葫钵秉玻铂舶帛脖膊扼驳捕卜不哺补埠布步残裁材簿部仓猜擦蔡蚕彩沧餐财踩操糙槽策辈册睬菜惨筏采参舱苍草层茬搐叉茶碴察岔差拆搀偿柴谗颤猖缠昌铲长肠厂常敞倡超掺艽豺馁蝉阐脒抄嘲朝巢吵扯彻炒掣澈车臣忱沉称逞橙匙呈乘程吃承秤持痴澄惩撑诚池迟弛驰耻齿炽崇宠冲抽充畴酬踌稠愁臭厨躇储闯穿磁蠢刺窗次幢揣船辞促触椽吹从川喘串垂春唇淳粗醋传床创炊戳捶瓷簇纯雌此锤丛篡茨词囱蹿聪凑摧崔催翠瘁淬磋撮搓措挫错殆丹呆歹戴单瘩掸胆氮蛋贷淡弹挡荡耽答大惮档搭傣带袋待诞逮蕴代达郸当怠党祷倒刀到盗悼捣岛导稻的灯等凳低笛狄涤嫡翟跺底第递抵奠蒂帝掂北滇垫点缔甸店弟颠靛惦犹电淀殿叼碉雕凋刁吊钓调蝶告爹锭鼎东陡叠谍丁定斗懂洞豆恫冻痘都动兜犊董抖逗独顶读睹赌肚度杜妒渡端短兑对堆夺垛遁缎蹲囤断敦钝队多哆躲朵惰剁鹅额恶厄鄂饿而儿耳二贰发阀帆矾繁樊钒烦反凡坊泛妨废仿吩犯房防纷访芳非诽沸分飞肥汾饭啡费坟纺剌肺菲焚奋份忿愤蜂粪封枫峰风逢缝疯冯锋烽奉袱凤斧肤釜氟甫俯佛敷孵俘府夫副拂辐浮幅弗辅腐涪符腑脯赴塌覆赋伏傅父讣咐腹嘎付附缚负富阜甘竿概钙盖冈缸干柑肝赶改杆感港肛篙铪杠皋高羔糕稿镐哥鸽胳疙割庚供给耕功根躬弓姑蛤各羹埂攻咕雇乖梗恭钩苟构跟宫勾刮隔更贡箍鼓谷褂官贯铬够固挂棺惯光汞沟辜搏耿共沽古故灌孤观菇顾冠蛊督拐馆怪关葛规圭归逛玄闺诡桂毛癸柜辊跪贵滚裹娥哈孩海氦韩酣含骇寒函喊翰害憨焊捍夯汉航憾汗壕嚎郝好和浩阂菏河赫核合禾何貉鹤贺嘿黑呵痕耗号荷盒很狠弘哼亨恨衡横宏侯猴候呼瑚忽枯厚壶洪糊互湖央虎沪弧唬护花划话怀徊环唤淮缓槐欢换焕豢荒宦幻晃灰毁贿会慌凰皇煌辉甜惠秽诲魂磺恢讳蝗簧幌恍晦汇昏谎蛔回卉徽左绘婚浑荤混货惶活豁获霍伙惑脔或火绩机畸肌吉极击基祸圾迹积箕饥稽辑姬甭讥集及急即挤几己技祭脊季蓟伎剂悸记继家贾妓荚纪嘉枷夹佳甲颊假钾架稼监坚歼笺煎间缄肩奸茧艰柬俭检碱简拣硷捡槛减荐鉴见剪践箭键剑疆建件健溅僵江饯碌姜娣浆降舰桨礁渐椒焦匠奖浇搅郊交嚼脚骄铰狡矫侥角剿缴绞酵教轿较叫揭窖接秸街杰戒解节睫姐桔界洁结藉借介疥今筋诫金斤紧谨恰锦进仅靳近井荆警兢劲静径居景痉镜竞揪韭炯粳经久旧就疚拘晶睛灸鞠疽举尽靖窘酒厩舅狙聚沮据烬京救拒敬俱拼咀巨浸咎锯惧炬鹃掘觉捐倦爵娟撅攫眷决绝旗卷绢钧均菌咖俊咯竣浚峻卡军骏喀揩楷看拷凯棵磕咳可刊慨呐坷堪勘慷炕靠克考柯渴抗壳坎康糠砍刻颗科客肯课吭孔坑控恳空寇哭垮酷库挎裤胯筷夸快侩跨舒匡狂旷框眶盔岿傀溃昆困版坤赖栏喇谰兰扩阔垃拉滥榔蜡辣婪臼括缆蓝拦袒啦廓阑揽篮澜览琅懒腊烂狼图劳佬乐牢老朗涝郎浪捞勒雷姥烙酪磊擂累类儡肋楞垒泪棱厘冷篱李犁狸黎离漓吏栗丽厉鲤莉利隶里砾立粒璃俩涞连励俐莲联力痢怜链涟帘脸恋敛练炼晾了聊僚燎良疗寥谅潦梁撂撩列猎玲凌瘤琳陵榴琉流烈淋赁番零凛菱辆林岭料劣灵硫刘廖鳞霖另柳铃愆拎羚龙聋留陇咙笼窿垄拢隆篓芦颅楼搂漏陋庐娄卢炉虏掳卤鲁麓唯赂录鹿潞禄陆戮驴铝虑屡旅履缕绿吕滦挛卵略抡论锣掠沦孪罗箩仑逻骡纶轮伦络洛骆妈玛蚂吗买卖骂麦瞒迈满蛮芒茫忙氓锚茂冒枚么帽煤美玫酶没貌眉镁寐妹媚盟檬们闷萌锰门孟糜梦猛醚米觅迷谜弥逄幂密绵眠蜜冕免勉缅娩面苗妙箔描瞄藐庙秒渺蔑民抿皿螟鸣铭膜模名漠墓末蘑磨摩寞泥暮幕墨沤亩牟姆魔愚默馈拇陌抹木募慕睦牧目哪穆拿纳那钠奶乃耐囊内霓尼你蔫念娘年撵鸟拧拟溺碾柠捻宁匿腻拈捏镍您涅狞钮弄奴纽农努浓女懦暖糯虐疟欧诺殴爬鸥藕啪哦拍帕怕排磐徘攀盘庞旁畔派乓炮袍咆刨跑裴胚鹏碰抨痞澎毗屁泡培赔喷彭皮譬呸砰硼偏陪烹棚膨坯判批霹披琵梆僻劈片匹疲飘骗票贫乒瓢撇聘苹漂萍瞥品平瓶泼评颇屏破魄迫粕剖铺仆葡浦期栖炫七妻效漆凄柒忘奇崎祁起岂企启契器迄弃泣掐讫洽扦钎铅千谦钱钳前潜谴浅呛羌墙蔷抢腔悄侨巧撬瞧窍翘峭且钦秦琴切芹怯窃茄勤卿擒沁禽擎寝倾清球庆秋邱趋琼酋穷泅渠蛆躯曲娶趣泉醛痊拳券缺炔却瘸榷瓤染扰热攘绕燃冉轰哄饶惹壬仁忍任让扔嚷妊纫认人韧日戎融茸孺乳绒容茹揉蠕阮润溶若辱入蕊柔肉锐汝软闰萨三叁洒腮伞扫瑟嗓涩如僧杀纱晒山啥杉删珊筛赡擅陕闪黔墒赏上尚裳梢捎稍勺摄烧邵赊绍奢伸身刖砷呻赦韶射少舍慑蛇涉申设深绅婶神甚慎生绳甥升牲省盛剩胜失狮施湿蚀识史十石拾食尸矢使屎士始驶事柿逝誓式示世拭踢势噬帔适侍饰室收手恃市首试售守寿殊瘦赢梳输兽熟淑疏书孰薯数蜀帅水属术竖庶恕刷甩署曙述摔束爽鼠霜谁税双衰舜顺嘶朔烁撕松思嗣丝肆硕寺司说斯死饲似私四伺怂颂腾搜艘擞送讼诵俗酥速塑僳溯宿诉算肃酸蒜髓隋绥随虽穗遂隧唆琐缩它塔她獭踏蹋胎台泰酞坍摊瘫滩谭坛痰檀谈碳叹炭汤搪探塘堂棠糖倘烫淌掏绦滔逃萄陶套淘讨誊疼嚏替啼剃屉填田恬舔腆条挑迢扒统听尤帖汀廷烃停艇铜挺桐酮凸童捅偷头秃投瞳突庭涂徒途屠吐湍脱陀团臀妥推颓腿蜕驼哇拖锅屯徵唾鸵蛙褪拓退娃袜歪瓦外豌偾顽湾丸碗完晚皖惋礤宛婉枉汪王腕往网韦妄巍微旺威违桅惟围厮维跳萎伪蔚纬未尾畏喂魏胃位尉紊瘟蚊文瓮翁谓挝卫闻纹稳蜗涡斡我窝呜钨巫诬无芜屋梧吾伍武五提毋坞雾晤戊勿物务悟误昔熙析硒息西锡希悉惜熄烯溪戏汐袭虾席喜檄习铣淦匣峡霞侠下厦吓掀锨先涎嫌　」舌

*/

@font-face{
    font-family: mplusthin;
    src: url('../fonts/M+/mplus-1-thin-sub.eot');
    src: url('../fonts/M+/mplus-1-thin-sub.eot?#iefix') format('embedded-opentype'),
    url('../fonts/M+/mplus-1-thin-sub.woff') format('woff'),
    url('../fonts/M+/mplus-1-thin-sub.ttf') format('truetype');
}

@font-face{
font-family: mpluslight;
src: url('../fonts/M+/mplus-1-light-sub.eot');
src: url('../fonts/M+/mplus-1-light-sub.eot?#iefix') format('embedded-opentype'),
url('../fonts/M+/mplus-1-light-sub.woff') format('woff'),
url('../fonts/M+/mplus-1-light-sub.ttf') format('truetype');
}

@font-face{
font-family: mplusregular;
src: url('../fonts/M+/mplus-1-regular-sub.eot');
src: url('../fonts/M+/mplus-1-regular-sub.eot?#iefix') format('embedded-opentype'),
url('../fonts/M+/mplus-1-regular-sub.woff') format('woff'),
url('../fonts/M+/mplus-1-regular-sub.ttf') format('truetype');
}

@font-face{
font-family: mplusmedium;
src: url('../fonts/M+/mplus-1-medium-sub.eot');
src: url('../fonts/M+/mplus-1-medium-sub.eot?#iefix') format('embedded-opentype'),
url('../fonts/M+/mplus-1-medium-sub.woff') format('woff'),
url('../fonts/M+/mplus-1-medium-sub.ttf') format('truetype');
}

@font-face
{
font-family: mplusbold;
src: url('../fonts/M+/mplus-1-bold-sub.eot');
src: url('../fonts/M+/mplus-1-bold-sub.eot?#iefix') format('embedded-opentype'),
url('../fonts/M+/mplus-1-bold-sub.woff') format('woff'),
url('../fonts/M+/mplus-1-bold-sub.ttf') format('truetype');
}

@font-face
{
font-family: mplusheavy;
src: url('../fonts/M+/mplus-1-heavy-sub.eot');
src: url('../fonts/M+/mplus-1-heavy-sub.eot?#iefix') format('embedded-opentype'),
url('../fonts/M+/mplus-1-heavy-sub.woff') format('woff'),
url('../fonts/M+/mplus-1-heavy-sub.ttf') format('truetype');
}

@font-face
{
font-family: mplusblack;
src: url('../fonts/M+/mplus-1-black-sub.eot');
src: url('../fonts/M+/mplus-1-black-sub.eot?#iefix') format('embedded-opentype'),
url('../fonts/M+/mplus-1-black-sub.woff') format('woff'),
url('../fonts/M+/mplus-1-black-sub.ttf') format('truetype');
}

@font-face{
    font-family: firalight;
    src: url('../fonts/firaSans/FiraSans-Light.ttf');
}

@font-face{
    font-family: firaregular;
    src: url('../fonts/firaSans/FiraSans-Regular.ttf');
}

@font-face{
    font-family: firabold;
    src: url('../fonts/firaSans/FiraSans-Bold.ttf');
}

@font-face{
    font-family: firablack;
    src: url('../fonts/firaSans/FiraSans-Black.ttf');
}

html{
    background-color: white;
    font-family: mpluslight, tahoma, arial;
}

body{
    font-family: mpluslight;
    font-size: 2.4rem;
}

h1{
    font-size: 38px;
    font-family: mangaFont;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
    font-weight: bold;
}

/* title underline deco styles */

.title-company > h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-company > h1 > .section-title .deco-container{
    display: flex;
    align-items: center;
}

.title-company > h1 > .section-title .deco-container .ball{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #737373;
    position: absolute;
}

.title-company > h1 > .section-title .deco-container .line{
    height: 2px;
    width: 100%;
    background-color: #737373;
}

.title-company > h1 > .section-title{
    display: inline-block;
}

.title-company > h1 > .section-title .title{ 
    color: #747474;
    font-family: firabold;
    padding: 12px 1px;
}

.title-company > h1 > .section-title-bold{
    color: #0052A4;
    font-weight: bold;
}

.news-section .title-company{
    margin-bottom: 80px;
}

body{
    margin: 0;
    padding: 0px;
}

/* slider styles */

.body-container .bx-wrapper{
    height: 500px;
    max-height: 500px;
    overflow: hidden;
    border: none!important;
    box-shadow: none!important;
}

.body-container .bx-wrapper .bx-caption{
    height: 100%;
}

.body-container .bx-wrapper .bx-caption span{
    font-size: 7.0rem;
    margin-left: 8%;
    margin-top: 10%;
    font-family: mplusmedium;
}

.body-container .bx-wrapper .bx-pager {
    bottom: 15px;
}

.body-container .bx-wrapper .bx-pager.bx-default-pager a{
    border-radius: 0px;
    width: 60px;
    height: 12px;
    border: 0.8px solid #8A8A8A;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    background: #8A8A8A;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background: #8A8A8A;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background: transparent;
}

.body-container .bx-wrapper img{
    max-width: 100%;
    width: 100%;
}

/* slider styles */

.main-body{
    text-align: center;
}

.options-section{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.options-section .col-lg-offset-3-cuarters {
    margin-left: 6.2499999%; /* col-lg-offset-1 has 8.33333333
    // so you multiply 8.33333333 * 0.75 = 12.499999995% */
}

.options-section .col-lg-3-and-half {
    width: 29.1666666%; 
}

.stretch{
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.thumbnail{
    border: 0px;
    margin: 0px;
}

/* option boxes styles */

.box-icon:hover {
    -moz-box-shadow:    inset 0 0 20px 2px #0052A4;
    -webkit-box-shadow: inset 0 0 20px 2px #0052A4;
    box-shadow: inset 0 0 20px 2px #0052A4;
    border: 1px solid #0052A4;
}

#box-1:hover + #cap-1{
    background-color: #0052A4;
}

#box-1:hover + #cap-1 h3{
    color: #FEFEFE;
}
#box-2:hover + #cap-2{
    background-color: #0052A4;
}

#box-2:hover + #cap-2 h3{
    color: #FEFEFE;
}
#box-3:hover + #cap-3{
    background-color: #0052A4;
}

#box-3:hover + #cap-3 h3{
    color: #FEFEFE;
}

.box-icon:after, .box-icon:before{
    transition: all .4s ease-in-out;
}

.box-icon{
    transition: all .4s ease-in-out;
    -moz-box-shadow:    inset 0 0 10px #C4C4C4;
    -webkit-box-shadow: inset 0 0 10px #C4C4C4;
    box-shadow: inset 0 0 10px #C4C4C4;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    width: 170px;
    height: 170px;
    background-color: white;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.box-icon:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-icon{
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
}

.options-section .thumbnail .caption{
    padding-top: 105px;
    margin-top: -92px;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    cursor: pointer;
    height: 260px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
    background-color: white;
    cursor: pointer;
    z-index: 0;
    position: relative;
}

.options-section .thumbnail .caption h3{
    font-size: 45px;
    font-family:  mplusheavy;
    color: #292929;
    transition: all .4s ease-in-out;
}

.options-section .thumbnail .caption h3:after,
.options-section .thumbnail .caption h3:before{
    transition: all .4s ease-in-out;
}

.options-section .thumbnail .caption:hover{
    background-color: #0052A4;
}

#cap-1:hover ~ #box-1{
    -moz-box-shadow:    inset 0 0 20px 2px #0052A4;
    -webkit-box-shadow: inset 0 0 20px 2px #0052A4;
    box-shadow: inset 0 0 20px 2px #0052A4;
    border: 1px solid #0052A4;
}

.options-section .thumbnail .caption:hover h3{
    color: #FEFEFE;
}

/* option boxes styles */

.about-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-content{
    background-color: transparent;
}

.about-content > .left {
    height: 500px;
    text-align: justify;
    padding: 30px;
    background-color: #1E1E1E;
    overflow-y: scroll;
}

.about-content > .left > p {
    color: white;
    font-size: 1.1em;
}

.about-content > .right {
    height: 500px;
    overflow: hidden;
}

p.news-text{
    color: darkgray;
    display: inline-block;
    width: 620px;
    margin-bottom: 18px;
    margin-top: 10px;
}

p.about-text{
    color: darkgray;
    display: inline-block;
    margin-bottom: 18px;
    margin-top: 10px;
}

.bottom-box{
    width: 100%;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom-box .contact-box{
    padding: 14px;
    background-color: white;
    border: 2px solid rgba(132, 141, 145, 0.5);;
}

.bottom-box .contact-title{
    font-family: mplusheavy;
    font-weight: bold;
    font-size: 28px;
    color: #5C5C5C;
    padding-bottom: 15px;
    text-align: left;
}

.bottom-box .contact-form .form-group{
    margin-bottom: 10px;
}

.bottom-box .contact-form .form-control{
    border-radius: 0px;
    height: 42px;
}

.bottom-box .contact-form .btn-primary{
    background-color: #0052A4;
    display: block;
    padding: 10px;
    width: 100px;
    border-radius: 0px;
    margin-top: 18px;
}

.bottom-box .map-container{
    width: 100%;
    height: 400px;
    position: relative;
}

body .container{
    padding: 0px;
}

.bottom-box .map-container .map{
    border:0; 
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85%;
    margin: auto;
}

footer{
    background-color: black;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
    }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .bottom-box .contact-form .btn-primary{
    width: 100%;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .options-section .col-xs-full{
        width: 100%;
    }
    
    .body-container .bx-wrapper .bx-caption span{
        font-size: 2.6rem;
    }

    .body-container .bx-wrapper .bx-pager {
        bottom: 40px;
    }
  .menu.responsive {position: relative;}
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-device-width: 1200px) 
and (max-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    #middle-box{
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 978px){
    .body-container .bx-wrapper{
        height: auto;
    }

    .body-container .bx-wrapper .bx-pager {
        bottom: 38px;
    }
    
    .options-section .col-md-offset-3-cuarters {
        margin-left: 0;
    }
    
    .options-section .col-md-3-and-half {
        width: 100%; 
    }

    #middle-box{
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* media querys for title sizes for xs screens */
@media screen and (max-width: 768px){   

    body{
        font-family: mpluslight;
        font-size: 2rem;
    }
    
    .text-body{
        padding: 0 14px;
    }

    .body-container .bx-wrapper{
        max-height: 231px;
    }

    .body-container .bx-wrapper .bx-pager.bx-default-pager a{
        border-radius: 0px;
        width: 35px;
        height: 4px;
        border: 0.8px solid #8A8A8A;
    }

    .about-section{
        padding-top: 0px;
    }

    .body-container .bx-wrapper .bx-caption span{
        font-size: 2.6rem;
    }

    .options-section .col-sm-offset-3-cuarters {
        margin-left: 0;
    }

    .options-section .col-sm-3-and-half {
        width: 100%; 
    }
    
    .bottom-box{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .bottom-box .map-container .map{
        height: 100%;
    }

    .thumbnail .caption h3{
        font-size: 28px;
    }

    .news-section{
        padding-top: 0px;
    }

    .news-section .title-company{
        margin-bottom: 40px;
    }

    .social .social-icons{
        float: none;
    }

    .social .social-container{
        text-align: center;
        margin-top: 10px;
    }
}
/* media querys for title sizes for xs screens */