header{
    
}

html{
    background-color: white;
}

h1{
    font-size: 38px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
    font-weight: bold;
}

.title-company > h1 > .section-title{ 
    color: darkgray;
}

.title-company > h1 > .section-title-bold{
    color: dodgerblue;
    font-weight: bold;
}

p.section-text{
    color: darkgray;
    display: inline-block;
}



.menu{
    background-color: dodgerblue;
}

.menu ul {
    margin-bottom: 0;
}

.social{
    width: 100%;
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}

.social p.secondaryText {
    color: darkgray;
    margin: 0px;
    float: left;
}

.social .social-icons{
    float: right;
}

.social .social-icons img{
    width: 29px;
    height: 25px;
    padding-left: 2px;
    padding-right: 2px;
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
}

.logo-header{
    position: relative;
    width: 100%;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo-img{
    position: relative;
    width: 120px;
    height: 100px;
}

.info-header{
    display: flex;
    align-items: center;
}

.info-header img{
    width: 55px;
    height: 45px;
    padding-right: 10px;
    border-right: 1px solid darkgray;
}

.info-header .info-content h5 {
    color: darkblue;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}

.info-header .info-content p{
    color: darkgray;
    margin: 0px;
}

.img-container{
    position: absolute;
    opacity: 0.75;
    filter: alpha(opacity=20);
    width: 100%; /* or any custom size */
    height: 100%; 
}

.body-container {
    height: 500px;
    width: 100%;
    clear: both;
    position: relative;
    display: inline;
}

body{
    margin: 0;
}

.cycle-slideshow{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;

}

.cycle-slideshow img {
    filter: brightness(40%);
    width: 100%;
}

/* overlay */
.cycle-overlay { 
    font-family: tahoma, arial;
    font-size: 20px;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    z-index: 600;
    background: black; 
    color: white; 
    padding: 15px; 
    opacity: .5;
}

/* pager */
.cycle-pager { 
    text-align: center; 
    width: 100%; 
    z-index: 500; 
    position: absolute;
    top: 10px; 
}
.cycle-pager span { 
    font-family: arial; 
    font-size: 50px; 
    width: 16px; 
    height: 16px; 
    display: inline-block; 
    color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { 
    color: #D69746;
}
.cycle-pager > * { 
    cursor: pointer;
}

.main-body{
    text-align: center;
}

.options-section{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.options-box{
    align-content: center;
    display: inline-block;
    margin-top: 50px;
}

.box-content:hover .box-icon{
    -moz-box-shadow:    inset 0 0 10px #2A4BA7;
    -webkit-box-shadow: inset 0 0 10px #2A4BA7;
    box-shadow: inset 0 0 10px #2A4BA7;
}

.box-icon:hover{
    -moz-box-shadow:    inset 0 0 10px #2A4BA7;
    -webkit-box-shadow: inset 0 0 10px #2A4BA7;
    box-shadow: inset 0 0 10px #2A4BA7;
}


.box-icon{
    -moz-box-shadow:    inset 0 0 10px #757575;
    -webkit-box-shadow: inset 0 0 10px #757575;
    box-shadow: inset 0 0 10px #757575;
    border-radius: 50%;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
    position: absolute;
    text-align: center;
    width: 140px;
    height: 140px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.box-icon:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-icon{
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    width: 50%;
    height: 50%;
}

p.box-content-info{
    color: darkgray;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
}

.box-content-text{
    padding-top: 100px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid darkgray;
}

.box-content:hover h3 {
    color: white;
}
.box-content:hover p.box-content-info{
    color: white;
}


.box-content:hover{
    color: white;
    background-color: dodgerblue;
}

.box-content{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
    margin-top: 60px;
    background-color: white;
}

.box-content h3{
    color: black;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
}

.about-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-content{
    
    background-color: transparent;
}

.about-content > .left {
    height: 400px;
    text-align: left;
    padding: 20px;
    float: left;
    background-color: black;
}

.about-content > .left > p {
    color: white;
    font-size: 14px;
}

.about-content > .right {
    height: 400px;
    overflow: hidden;
}

.about-content .right img{
    min-height: 100%;
    min-width: 100%;
}



.news-section{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.map{
    margin-bottom: 40px;
}

footer{
    background-color: black;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-device-width: 1200px) 
and (max-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    #middle-box{
        padding-right: 20px;
        padding-left: 20px;
    }

    #middle-article-box{
        padding-right: 20px;
        padding-left: 20px;
    }

}


@media (max-width: 978px){

    #middle-box{
        padding-right: 0px;
        padding-left: 0px;
    }

    #middle-article-box{
        padding-right: 0px;
        padding-left: 0px;
    }
}
