.row{
    margin: 0px;
}

.row.internal-serv-row{
    display: flex;
}

.row .rc-row{
    display: flex;
    align-items: center;
}

.row .right-container .info-container{
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0;
}

.row .right-container .info-container .divider{
    width: 1px;
    height: 22px;
    background-color: #B2B2B2;
    margin: 0px 5px;
}

.row .right-container .info-container .right-text{
    padding: 3px 4px;
}

#call-id{
    font-family: 'Fira Sans';
}

.row .right-container{
    padding: 3px;
    color: #7F7F7F;
}

.row .right-container .info-container  h5 {
    color: #0052A6;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    cursor: pointer;
}

.right-container .info-container p{
    color: darkgray;
    margin: 0px;
    font-size: 1.8rem;
}

.menu ul {
    margin-bottom: 0;
}

.social{
    width: 100%;
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}

.social p.secondaryText {
    color: darkgray;
    margin: 0px;
    float: left;
    font-size: 1.4rem;
}

.social .social-icons{
    float: right;
}

.social .social-icons img{
    width: 29px;
    height: 25px;
    padding-left: 2px;
    padding-right: 2px;
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
}

#call-id{
    padding-right: 0px; 
    padding-left: 0px; 
}

.logo-header{
    width: 100%;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo-left{
    position: relative;
    width: 30%;
    max-width: 122px;
}

.logo-right{
    max-width: 160px;
}


.info-container img{
    padding: 3.5px;
    cursor: pointer;
}

.right-container .rc-row img{
    width: 40px;
}


.img-container{
    position: absolute;
    opacity: 0.75;
    filter: alpha(opacity=20);
    width: 100%; /* or any custom size */
    height: 100%; 
}

.info-container .info-row .icon img{
    padding: 0;
}

@media screen and (max-width: 991px) {

    .row.internal-serv-row{
        flex-direction: column;
    }

    .row .rc-row{
        flex-direction: column;
    }

    .row .right-container .info-container{
        margin-top: 12px;
    }

    .social .social-icons{
        float: right;
    }

    .mobile-container{
        text-align: center;
    }

    .center{
        margin-top: 22px;
        display: inline-flex;
    }

    .right-container .divider{
        width: 1px;
        height: 28px;
        background-color: #7F7F7F;
        margin: 0px 15px;
    }

  }

  @media screen and (max-width: 770px) {
    .social .social-icons{
        float: none;
    }

    .logo-img{
        width: 35%;
    }

    .logos{
        text-align: center;
    }

    .row .right-container .info-container  h5 {
        color: #0052A6;
        font-weight: bold;
        font-size: 15px;
        margin: 0px;
        cursor: pointer;
    }

    .right-container .info-container p{
        font-size: 1.8rem;
    }

    .right-container .divider{
        width: 2px;
        height: 50px;
    }

    .right-container .mobile-container img{
        width: 50px;
    }
    
    .info-container .info-row .icon{
        padding: 0;
    }
  }

/* header styles */