.container{
    padding:0%;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.rc-row{
    display: flex;
    align-items: center;
}

.menu-row{
    background-color: transparent;
}

.row.top-info{
    align-items: center;
    padding: 10px 0;
    background: #ffffff;
    background: -webkit-linear-gradient(to bottom, #efecec, #ffffff);
    background: linear-gradient(to bottom, #efecec, #ffffff)
}

.row.top-info .top-description{
    padding: 0px;
    color: #7F7F7F;
    line-height: 46px;
    font-family: Meiryo;
    font-size: 1.2rem;
}

.row.top-info .right-container{
    padding: 3px;
    color: #7F7F7F;
}

.row.top-info .info-container{
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.row .info-container img{
    height: 25px;
    width: 25px;
    padding: 3.5px;
}

.row .info-container .divider{
    width: 1px;
    height: 22px;
    background-color: #B2B2B2;
    margin: 0px 5px;
}

.row .info-container .right-text .top{
    margin: 0;
    padding: 3px 4px;
    font-family: Meiryo;
    font-size: 1.2rem;
}

.row .info-container .right-text .bottom{
    margin: 0;
    padding: 3px 4px;
    font-family: 'Fira Sans';
    font-size: 1.2rem;
}

.row.rc-row{
    background: transparent;
}

/* for small devices */
@media all and (max-width: 770px){
    .row.top-info .right-container{
        float: left;
        margin-top: 10px;
    }

    .row.top-info .info-container{
        margin-top: 6px;
    }

    .menu-container .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .row.top-info .top-description{
        line-height: normal;
        font-family: mplusmedium;
    }

    .rc-row{
        display: block;
    }
}