.container{
    padding:0%;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.row:first-child{
    background-color: #F8F8F8;
}

.menu-row{
    background-color: transparent;
}

.row .top-info{
    display: flex;
    align-items: center;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row .top-info .top-description{
    padding: 0px;
    color: #7F7F7F;
}

.row .top-info .right-container{
    float: right;
    height: 47px;
    padding: 3px;
    color: #7F7F7F;
}

.row .top-info .info-container{
    height: 100%;
    display: inline-flex;
    align-items: center;
    float: right;
    margin: 2px 5px;
}

.row .info-container img{
    height: 25px;
    width: 25px;
    padding: 3.5px;
}

.row .info-container .divider{
    width: 1px;
    height: 70%;
    background-color: #B2B2B2;
    margin: 0px 5px;
}

.row .info-container p.right-text{
    margin: 0 auto;
    padding: 3px 4px;
}

.menu-container .container{
    padding-left: 0px;
    padding-right: 0px;
    min-height: 0px;
}

.menu-row .menu-container .container #navbar ul.nav.navbar-nav.navbar-right{
    display: flex;
    align-items: center;
}

.menu-row .menu-container .container #navbar ul li.access-item{
    margin-left: 80px;
    cursor: pointer;
}

.menu-row .menu-container .container #navbar ul li.access-item a{
    padding: 0px 20px;
}

.menu-row .menu-container .container #navbar ul li.access-item:hover{
    transform: none;
    background: transparent;
}

.menu-row .menu-container .container #navbar ul li.access-item:hover a:hover{
    transform: none;
}

.menu-row .menu-container .container #navbar ul li.access-item .btn-txt{
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a{
    font-family: mplusregular;
}

.navbar-default .navbar-brand img{
    width: 67px;
}

.navbar-default .navbar-brand{
    padding: 0;
}

/* for small devices */
@media all and (max-width: 770px){
    .row .top-info .right-container{
        float: left;
        margin-top: 10px;
    }

    .row .top-info .info-container{
        margin-top: 6px;
    }

    .menu-container .container{
        padding-left: 15px;
        padding-right: 15px;
    }

}