/* titles por every page */
.gs-title-container{
    height: 240px;
    text-align: center;
    background-image: url('../../R/gsbg/contact_bg.png');
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.gs-title-container .title{
    color: white;
    margin: 0 auto;
    font-size: 3.3em;
    font-family: Meiryo;
}

body .owners-main-body .row{
    background-color: transparent;
    margin-top: 40px;
    margin-bottom: 40px;
}

body .owners-main-body .row .owners-info{
    display: block;
}

body .owners-main-body .row .owners-info .wrapper-row{
    padding: 8px 0px;
}

body .owners-main-body .row .owners-info .wrapper-row .enum{
    color: white;
    font-weight: bold;
}

body .owners-main-body .row .owners-info .wrapper-row .info-text{
    color: #555555;
    font-size: 1.6em;
    font-family: mplusmedium;
}

body .owners-main-body .row .owners-info .owners-voice .title{
    margin: 16px 0px;
    display: flex;
    align-items: center;
}

body .owners-main-body .row .owners-info .owners-voice .title h4{
    color: #0051A3;
    margin: 0 auto;
    font-size: 3.2em;
    font-family: mplusheavy;
}

body .owners-main-body .row .owners-info .owners-voice .title h4 span{
    color: black;
    font-weight: bold;
}

body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row{
    padding: 10px 0px;
}

body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row .img-container{
    padding: 0px;   
    display: flex;
    align-items: center;
}

body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row .img-container .house-img {
    padding: 10px;
    border: 2px #D3D3D3 solid;
    width: 80%;
}

body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row .img-container .house-img img{
    width: 100%;
        
}

body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row .img-container .reviewer-img{
    position: absolute;
    width: 40%;
    right: 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 8px;
    background-color: white;
}

body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row .img-container .reviewer-img img{
    width: 100%;
    border-radius: 50%;

}

body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row .review .review-title{
    font-size: 1.8em;
    color: #292929;
    font-family: mplusmedium;
}

body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row .review .review-text{
    color: #444444;
    font-family: mpluslight;
    font-size: 1.8rem;
    padding: 10px 0px;
}

body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row.oddie .img-container.reviewer-img{
    right: 291px;
}

.chart{
    padding: 0;
    text-align: center;
}

.owners-main-body .chart img{
    max-width: 100%;
}

@media all and (max-width: 770px){
    .gs-title-container .title{
        font-size: 2.3em;
    }

    body .owners-main-body .row .owners-info .wrapper-row .info-text{
        font-size: 1.6rem;
        padding: 0;
        font-family: mpluslight;
    }

    body .owners-main-body .row{
        margin-top: 20px;
        margin-bottom: 20px;
    }    

    .chart{
        margin-top: 1rem;
    }    

    body .owners-main-body .row .owners-info .owners-voice .title h4{
        font-size: 2.5rem;
    }

    body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row .img-container .house-img {
        padding: 0;
    }

    .review-wrapper .review{
        padding: 0;
        margin-top: 1rem;
    }

    body .owners-main-body .row .owners-info .owners-voice .review-wrapper.row .review .review-text{
        font-size: 1.6rem;
    }
}