<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>Augment an Admin Panel Category Flat Bootstrap Responsive Web Template | Forms :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom CSS -->
	<link href="../admin/css/style.css" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="../admin/css/font-awesome.css" rel="stylesheet">
	<!-- lined-icons -->
	<link rel="stylesheet" href="../admin/css/icon-font.min.css" type='text/css' />
	<!-- //lined-icons -->
	<link rel="stylesheet" href="../admin/css/forms.css" type="text/css" />
	<!--clock init-->
	<script src="../admin/js/css3clock.js"></script>
	<!--Easy Pie Chart-->
	<!--skycons-icons-->
	<script src="../admin/js/skycons.js"></script>
	<!--//skycons-icons-->

</head>

<body>
	<div class="page-container">
		<!--/content-inner-->
		<div class="left-content">
			<div class="inner-content">
				<!--//outer-wp-->
				<div class="outter-wp">
					<!--/sub-heard-part-->
					<div class="sub-heard-part">
						<ol class="breadcrumb m-b-0">
							<li>
								<a href="#!/adminprofile">Home</a>
							</li>
							<li class="active">Forms</li>
						</ol>
					</div>
					<!--/sub-heard-part-->
					<!--/forms-->
					<div class="forms-main">

						<!--/forms-inner-->
						<div class="forms-inner">

							<!--/set-2-->
							<div class="set-1">
								<div class="graph-2 general">
									<h3 class="inner-tittle two">Add information below</h3>
									<div class="grid-1">
										<div class="form-body" ng-controller="NewsDetailController">
											<form class="form-horizontal" name="newsForm">
												<div class="form-group" ng-class="{ 'has-error' : newsForm.title.$invalid }">
													<label for="focusedinput" class="col-sm-2 control-label">タイトル </label>
													<div class="col-sm-8">
														<input type="text" name="title" class="form-control1" ng-class="{red: (newsForm.title.$touched && newsForm.title.$pristine || newsForm.title.$invalid) && submitted}"
														 ng-model="new.title" placeholder="Enter Article title" required/>
														<p ng-show="newsForm.title.$invalid && submitted" class="help-block">タイトルが記入されていません。</p>
													</div>
												</div>

										
												<div class="form-group">
													<label for="content" class="col-sm-2 control-label">内容 </label>
													<div class="col-sm-8">
														<textarea id="description-area" name="content" class="form-control1"
														 ng-model="new.content" placeholder="Enter the main description here" rows="8" />
													</div>
												</div>
												<div class="t-hdr">
														<label for="mediuminput" class="col-sm-6 control-label">画像</label>
														<label for="largeinput" class="col-sm-6 control-label">画像のコメント</label>
												</div>
												<div ng-repeat="label in labels">
													<div class="form-group">
														<div class="col-sm-6 __ind">
															<div class="identifier">{{label.id}}</div>
															<input type="text" class="form-control1" ng-model="new.pictures[$index].url">
														</div>
														<div class="col-sm-6">
																<input type="text" class="form-control1" ng-model="new.pictures[$index].description">
															</div>
													</div>
												</div>
												{{successMessage}} {{errorMessage}}
												<button id="btn-add-new" ng-disabled="isEdit" class="btn green" ng-click="addNew()">記事を追加</button>

												<button id="btn-edit-new" ng-disabled="!isEdit" class="btn btn-warning" ng-click="updateNew(new)">UPDATE</button>


											</form>
										</div>

									</div>
								</div>
							</div>
							<!--//set-2-->
						</div>
						<!--//forms-inner-->
					</div>
					<!--//forms-->
				</div>
				<!--//outer-wp-->
				<!--footer section start-->
				<footer>
					<p>&copy 2016 Augment . All Rights Reserved | Design by
						<a href="https://w3layouts.com/" target="_blank">W3layouts.</a>
					</p>
				</footer>
				<!--footer section end-->
			</div>
		</div>
		<!--//content-inner-->
		<!--/sidebar-menu-->
		<div class="sidebar-menu">
			<header class="logo">
				<a class="sidebar-icon">
					<span class="fa fa-bars"></span>
				</a>
				<a>
					<span id="logo">
						<h1>Augment</h1>
					</span>
					<!--<img id="logo" src="" alt="Logo"/>-->
				</a>
			</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
			<!--/down-->
			<div class="down">
				<a href="index.html">
					<img src="../admin/images/admin.jpg">
				</a>
				<a href="index.html">
					<span class=" name-caret">Jasmin Leo</span>
				</a>
				<p>System Administrator in Company</p>
				<ul>
					<li>
						<a class="tooltips" href="#!/profile">
							<span>Profile</span>
							<i class="lnr lnr-user"></i>
						</a>
					</li>
					<li>
						<a class="tooltips" href="index.html">
							<span>Settings</span>
							<i class="lnr lnr-cog"></i>
						</a>
					</li>
					<li>
						<a class="tooltips" href="index.html">
							<span>Log out</span>
							<i class="lnr lnr-power-switch"></i>
						</a>
					</li>
				</ul>
			</div>
			<!--//down-->
			<div class="menu">
				<ul id="menu">
					<li>
						<a href="#!/adminprofile">
							<i class="fa fa-tachometer"></i>
							<span>Dashboard</span>
						</a>
					</li>
					<li id="menu-academico">
						<a>
							<i class="fa fa-table"></i>
							<span> Tabs &amp; Panels</span>
							<span class="fa fa-angle-right" style="float: right"></span>
						</a>
						<ul id="menu-academico-sub">

							<li id="menu-academico-avaliacoes">
								<a href="#!/404">Calendar</a>
							</li>

						</ul>
					</li>
					<li id="menu-academico">
						<a>
							<i class="fa fa-file-text-o"></i>
							<span>記事を編集</span>
							<span class="fa fa-angle-right" style="float: right"></span>
						</a>
						<ul id="menu-academico-sub">
							<li id="menu-academico-boletim">
								<a href="#!/table">記事</a>
							</li>
						</ul>
					</li>
					<li id="menu-academico">
						<a>
							<i class="lnr lnr-book"></i>
							<span>Pages</span>
							<span class="fa fa-angle-right" style="float: right"></span>
						</a>
						<ul id="menu-academico-sub">
							<li id="menu-academico-boletim">
								<a href="register.html">Register</a>
							</li>
							<li id="menu-academico-boletim">
								<a href="404.html">404</a>
							</li>
							<li id="menu-academico-boletim">
								<a href="#!/profile">Profile</a>
							</li>
						</ul>
					</li>

				</ul>

			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<script>
		var toggle = true;

		$(".sidebar-icon").click(function () {
			if (toggle) {
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#menu span").css({ "position": "absolute" });
			}
			else {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				setTimeout(function () {
					$("#menu span").css({ "position": "relative" });
				}, 400);
			}

			toggle = !toggle;
		});
	</script>
	<!--js -->
	<script src="../admin/js/jquery.nicescroll.js"></script>
	<script src="../admin/js/scripts.js"></script>

	<!-- Bootstrap Core JavaScript -->
</body>

</html>