<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../CSS/menu.css" type="text/css">
        <link rel="stylesheet" href="../CSS/footer.css" type="text/css">
        <link rel="stylesheet" href="../CSS/main.css" type="text/css">
        <link rel="stylesheet" href="../CSS/company_styles.css" type="text/css">

        <link rel="stylesheet" href="../CSS/jquery.mThumbnailScroller.css" type="text/css">

        <script src="../scripts/jquery.mThumbnailScroller.js" type="text/javascript"></script>
</head>
<header>

    <div w3-include-html="/partials/metalplateheader.html"></div>

</header>


    <body>

        <div class="main-page-header">
            <h1>会社概要</h1>
        </div>

        <div class="title-page">
            <img class="title-bg" src="../R/title-bar.png"/>
            <h3>COMPANY</h3>
        </div>

        <div class="info-container">

                <div class="row" >
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                            <div class="info-row col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="icon">
                                        <img src="../R/contacticons/1.png"/>
                                </div>
    
                                <div class="description">
                                    商号
    
                                </div>

                                <div class="info-content">
                                    有限会社谷口板金工業所
                                </div>
    
                            </div>
                            
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                        
    
                </div>

                <div class="row" >
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                            <div class="info-row col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="icon">
                                        <img src="../R/contacticons/2.png"/>
                                </div>
    
                                <div class="description">
                                        創業
    
                                </div>

                                <div class="info-content">
                                    昭和36年4月
                                </div>
    
                            </div>
                            
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                        
    
                </div>

                <div class="row" >
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                            <div class="info-row col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="icon">
                                        <img src="../R/contacticons/1.png"/>
                                </div>
    
                                <div class="description">
                                        設立
    
                                </div>

                                <div class="info-content">
                                    昭和47年7月
                                </div>
    
                            </div>
                            
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                        
    
                </div>

                <div class="row" >
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                            <div class="info-row col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="icon">
                                        <img src="../R/contacticons/4.png"/>
                                </div>
    
                                <div class="description">
                                        建築業登録
    
                                </div>

                                <div class="info-content">
                                    北海道知事許可（般-26）第01221号
                                </div>
    
                            </div>
                            
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                        
    
                </div>

                <div class="row" >
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                            <div class="info-row col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="icon">
                                        <img src="../R/contacticons/5.png"/>
                                </div>
    
                                <div class="description">
                                        資本金
    
                                </div>

                                <div class="info-content">
                                    2300万円
                                </div>
    
                            </div>
                            
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                        
    
                </div>

                <div class="row" >
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                            <div class="info-row col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="icon">
                                        <img src="../R/contacticons/6.png"/>
                                </div>
    
                                <div class="description">
                                        代表取締役
    
                                </div>

                                <div class="info-content">
                                    谷口　正樹
                                </div>
    
                            </div>
                            
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                        
    
                </div>

                <div class="row" >
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                            <div class="info-row col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="icon">
                                        <img src="../R/contacticons/7.png"/>
                                </div>
    
                                <div class="description">
                                        役員
    
                                </div>

                                <div class="info-content">
                                    専務取締役　1名 <br>常務取締役　2名 <br>取締役　2名
                                </div>
    
                            </div>
                            
                        <span class="hidden-xs hidden-sm col-md-1 col-lg-1"></span>
                        
    
                </div>

                <div class="row" >
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                            <div class="info-row col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="icon">
                                        <img src="../R/contacticons/8.png"/>
                                </div>
    
                                <div class="description">
                                        従業員数
    
                                </div>

                                <div class="info-content">
                                    27名（平成29年5月現在）
                                </div>
    
                            </div>
                            
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                        
    
                </div>

                <div class="row" >
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                            <div class="info-row col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="icon">
                                        <img src="../R/contacticons/9.png"/>
                                </div>
    
                                <div class="description">
                                        技術者
    
                                </div>

                                <div class="info-content">
                                1級建築士　1名 <br>2級建築士　2名 <br>金属屋根工事技師　3名 <br>1級建築板金技能士　4名 <br>
                                2級建築板金技能士　6名 <br>1級建築施工管理技士　1名 <br>2級建築施工管理技士（躯体）　1名 <br>2級建築施工管理技士（仕上げ）　1名 <br>
                                基幹技能者　1名
                                    
                                </div>
    
                            </div>
                            
                        <span class="hidden-xs hidden-sm col-md-2 col-lg-2"></span>
                        
    
                </div>

            <div class="address-container">

                <div class="row">
                        <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
                        <div class="col-lg-10 col-xs-12 col-sm-8 col-md-8" style="padding: 0px; margin: 0px; ">
                            <div class="thumbnail-container col-sm-6 col-md-4 lg-4">
                            <div class="thumbnail" style="margin-right: 30px;">
                            
                            <img src="../R/address-box-header.png" alt="...">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>本社</td>
                                    </tr>
                                    <tr>
                                        <td><img></td>
                                        <td>Some weird number</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="caption">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><img src="../R/addressbox/location.png"></td>
                                            <td>北海道滝川市本町2丁目3番5号　ＴＳビル1階</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../R/addressbox/call.png"></td>
                                            <td>0125-23-3725</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../R/addressbox/fax.png"></td>
                                            <td>0125-23-2250</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                        <div class="thumbnail-container col-sm-6 col-md-4 lg-4">
                            <div class="thumbnail " style=" margin-left: 10px; margin-right: 10px;">
                                    <img src="../R/address-box-header.png" alt="...">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>札幌営業所</td>
                                            </tr>
                                            <tr>
                                                <td><img></td>
                                                <td>Some weird number</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="caption">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td><img src="../R/addressbox/location.png"></td>
                                                    <td>北海道札幌市中央区北1条西15丁目1番3号　大通りハイム603号室</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../R/addressbox/call.png"></td>
                                                    <td>011-632-7600</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../R/addressbox/fax.png"></td>
                                                    <td>011-632-7608</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="thumbnail-container col-sm-6 col-md-4 lg-4">
                                <div class="thumbnail " style="margin-left: 30px;">
                                        <img src="../R/address-box-header.png" alt="...">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>北関東営業所</td>
                                                </tr>
                                                <tr>
                                                    <td><img></td>
                                                    <td>Some weird number</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="caption">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td><img src="../R/addressbox/location.png"></td>
                                                        <td>茨城県水戸市城南2丁目4番28号</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="../R/addressbox/call.png"></td>
                                                        <td>029-229-2580</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="../R/addressbox/fax.png"></td>
                                                        <td>029-229-2581</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
            
                </div>

                <div class="row">
                        <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
                        <div class="col-lg-10 col-xs-12 col-sm-8 col-md-8" style="padding: 0px; margin: 0px; ">
                            <div class="thumbnail-container col-sm-6 col-md-4 lg-4">
                                <div class="thumbnail" style="margin-right: 30px;">
                                
                                    <img src="../R/address-box-header.png" alt="...">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>芦別営業所</td>
                                            </tr>
                                            <tr>
                                                <td><img></td>
                                                <td>Some weird number</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="caption">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td><img src="../R/addressbox/location.png"></td>
                                                    <td>北海道芦別市本町1053番地</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../R/addressbox/call.png"></td>
                                                    <td>0124-23-3725</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../R/addressbox/fax.png"></td>
                                                    <td>FAX or alternative number</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="thumbnail-container col-sm-6 col-md-4 lg-4">
                                    <div class="thumbnail" style="margin-left: 10px; margin-right: 10px;">
                                    
                                        <img src="../R/address-box-header.png" alt="...">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>工場</td>
                                                </tr>
                                                <tr>
                                                    <td><img></td>
                                                    <td>Some weird number</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="caption">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td><img src="../R/addressbox/location.png"></td>
                                                        <td>北海道滝川市幸町3丁目4番18号</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="../R/addressbox/call.png"></td>
                                                        <td>0125-23-1013</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="../R/addressbox/fax.png"></td>
                                                        <td>0125-23-1013</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
                </div>
            </div>
        </div>

        <script>w3.includeHTML();</script>
    </body>

    <footer>
        <div class="container">
                <div class="row">
                    <span class="col-lg-1 hidden-xs col-md-1 hidde-sm"></span>
    
                    <div class=" col-lg-4 col-md-4 widget">
                        <img src="../R/group_logo.jpg">
                        
                    </div>
                    <div class="col-lg-3 col-md-4  widget">
                        <h2>お問い合わせ</h2>
                        <article class="widget_content">
                            <ul>
                                <li><img src="../R/ic_phone_gray.png"><a>0125-23-3725</a></li>
                                <li><img src="../R/ic_phone_gray.png"><a>FAX 0125-23-2250</a></li>
                                <li><img src="../R/ic_location_gray.png"><a>北海道滝川市本町2丁目3番5号TSビル1階</a></li>
                            </ul>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-4  widget">
                            <h2 class="orange">サイトマップ</h2>
                        <ul>
                                
                            <li><a href="#">トップページ</a></li>
                            <li><a href="business.html">事業内容</a></li>
                            <li><a href="company.html">会社概要</a></li>
                            <li><a href="contact.html">お問い合わせ</a></li>
                            <li><a href="">NEWS</a></li>
                        
                        </ul>
                    </div>
                            <span class="col-lg-1 hidden-xs col-md-1 hidden-sm"></span>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 widget" style="text-align: center;">© 2017 | COPYRIGHT. ALL RIGHTS RESERVED <span class="pull-right">Minimize your browser »</span>
                        </div>
                    </div>
                </div>
            </div>

    </footer>
</html>