<!DOCTYPE>
<html>
    <head>
        <title>

        </title>

        <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_contact_styles.css"/>
        <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_header_styles.css"/>
        <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_menu_styles.css"/>
        
    </head>
    <header>
            <div w3-include-html="/partials/gs_header.html"></div>
            
        

    </header>
    <body>
            <script>
                    $(document).ready(function(){
                        $("#a").removeClass("active");
                        $("#b").removeClass("active");
                        $("#c").addClass("active");
                    });
                </script>
            <script>w3.includeHTML();</script>
    </body>
</html>