<!DOCTYPE>
<html>

<head>
    <title>

    </title>

    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_contact_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_header_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_menu_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_footer_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_contact_form.css" />
    <link rel="stylesheet" href="../CSS/tn_webfonts.css" />
</head>
<header>
    <div ng-include src="'partials/gs_header.html'"></div>



</header>


<body>

    <div class="gs-title-container">
        <div class="title">
                CONTACT US
        </div>
        
    </div>

    <div class="contact-main-body">

        <div class="row">

            <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></span>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">

                <div ng-controller="gsContactFormCtrl" class="contact-form col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        
                    <div class="form-title">お問い合わせフォーム</div>
                    お問い合わせは、下記にて承っております。
                    *は必須項目です。
                    <form name="gsContactForm"class="gs-contact-form" ng-submit="sendContactForm(gscontact)">

                        <input ng-model="gscontact.name" class="name-input" name="gscontact.name" type="text" placeholder="お名前（漢字）*">
                        <input ng-model="gscontact.name" class="name-input" name="gscontact.name" type="text" placeholder="お名前（フリガナ）*">

                        <input ng-model="gscontact.email" class="email-input" name="gscontact.email" type="email" placeholder="E-MAIL*">
                        <input ng-model="gscontact.phone" class="telephone-input" name="gscontact.phone" type="tel" placeholder="電話番号（半角）*">
                        <input ng-model="gscontact.fax" class="fax-input" name="gscontact.fax" type="tel" placeholder="FAX番号（半角）">
                        <label>お問い合わせ内容*</label>
                        <input ng-model="gscontact.content" class="content-input" name="gscontact.content" type="text" placeholder="">
                        <p class="output-msg">{{message}}</p>
                        <button type="submit" class="btn btn-primary" role="button">送信</button>
                    </form>
                </div>

                <div class="contact-info col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-title">
                            お問い合わせは、こちらで受付しております。
                    </div>
                    <div class="contact-opt">
                        <div class="info-wrapper">
                            <div class="img-wrapper">
                                <img src="../R/icons/phone.png" alt="phone">

                            </div>
                            <div class="number">0125-23-8170</div>
                        </div>
                        <div class="info-wrapper">
                            <div class="img-wrapper">
                                <img src="../R/icons/fax.png" alt="fax">
                            </div>
                            <div class="number">0125-23-2250</div>
                        </div>
                    </div>
                    <div class="map-container" >
                                                
                        <div id="map"></div>
                    
                </div>
                </div>

            </div>

            <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></span>

        </div>
    </div>


    <footer>
        <div ng-include src="'partials/gs_footer.html'"></div>
    </footer>
    <script>
        function initMap(){
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 43.5595703, lng: 141.9049131},
                zoom: 17,
                disableDefaultUI: true
            });

            var infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(map);

            service.getDetails({
                placeId: 'ChIJq6qWjdiYDF8RpzXo9vSzhQA'
            }, function(place, status){
                if(status === google.maps.places.PlacesServiceStatus.OK){
                    var marker = new google.maps.Marker({
                        map: map,
                        position: place.geometry.location
                    });
                    map.setCenter(marker.getPosition());
                }
            })
        }
        </script>
    <script>
        $(document).ready(function () {
            var hash = window.location.hash;
            console.log(window.location.hash);
            $('.nav > li > a[href="' + hash + '"]').parent().addClass('active').siblings().removeClass('active');
        });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnleYwXg3nbEGFus9O_9-4LnIjIhMuS4U&libraries=places&callback=initMap">
</script>
    <!-- bxSlider Javascript file -->
    <script src="../plugins/facebooklikeslider/js/jquery.bxslider.js"></script>
</body>

</html>