<div class="row top-info">
    <div class="top-description col-lg-5 col-md-5 col-sm-5 col-xs-10
    col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        有限会社谷口総合サービスは、不動産を専門とする会社です。
    </div>
    <div class="right-container col-lg-5 col-md-5 col-sm-5 col-xs-10
    col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
    <div class="row rc-row">
            <div class="info-container col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <img src="../R/topsection/ic_location.png" alt="location" />
                    <div class="divider"></div>
                    <p class="right-text">北海道滝川市本町2丁目3番5号
                        <br>073-0021 TSビル 1F</p>
                </div>
        
                <div class="info-container col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <img src="../R/topsection/call.png" alt="call" />
                    <div class="divider"></div>
                    <p class="right-text">0125-23-8170</p>
                </div>
    </div>
       
    </div>
</div>

<div class="row menu-row">
    <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></span>
    <div class="col-lg-10 col-md-10" style="padding: 0;">
        <!-- Fixed navbar -->
        <nav class="menu-container navbar navbar-default navbar-fixed-top" style="position: relative; margin: 0;">
            <div class="container col-lg-12 col-md-12" style="background: white; margin-left: 0px;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="../R/logos/taniguchi_mini.png">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-item">
                            <a style="background: transparent;" href="#!/generalservice/home">トップページ</a>
                        </li>
                        <li class="menu-item">
                            <a style="background: transparent;" href="#!/generalservice/owners">会社概要</a>
                        </li>
                        <li class="menu-item">
                            <a style="background: transparent;" href="#!/generalservice/contact">お問い合わせ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="menu-item hidden-xs access-item">
                            <a href="#!/login">
                                <img class="access-btn" src="../R/gsheader/access-button.png" alt="Access" />
                                <div class="btn-txt">アクセス</div>
                            </a>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>
    <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></span>
</div>