<!DOCTYPE>
<html>

<head>
    <title>
        Taniguchi General service.
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/generalServiceStyles/home_gs_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_header_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_menu_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_footer_styles.css" />
    <link rel="stylesheet" href="../CSS/tn_webfonts.css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700" rel="stylesheet">
    <!-- bxSlider CSS file -->
    <link href="../plugins/facebooklikeslider/css/jquery.bxslider.css" rel="stylesheet" />

</head>
<header>
    <div ng-include src="'partials/gs_header.html'"></div>
</header>

<body>
    <div id="gs-home-slider">
        <div class="bxslider">
            <div>
                <img src="../R/article1.jpg" title="Funky roots">
            </div>
            <div>
                <img src="../R/article2.jpg" title="The long and winding road">
            </div>
            <div>
                <img src="../R/article3.jpg" title="Happy trees">
            </div>
        </div>
    </div>
    <div class="home-main-body">
        <div class="row for-customers">
            <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></span>
            <div class="wrapper col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div id="to-sell">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="inner">
                        <div class="text">
                            <h3>賃貸物件をお探しのお客様</h3>
                            <p>親切・丁寧をモットーに、滝川市内を中心としたお部屋探しのお手伝いをしています。 </p>
                        </div>
                        <div class="btn-container">
                            <p>
                                <a target="_blank" href="https://asp.athome.jp/030062/shumokus?direct_search=true&shubetsu=chintai">CLICK</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="to-buy">
                    <div class="inner">
                        <div class="btn-container">
                            <p>
                                <a href="#!/generalservice/owners">CLICK</a>
                            </p>
                        </div>
                        <div class="text">
                            <h3>賃貸アパート・貸家のオーナー様</h3>
                            <p>滝川市内を中心に、入居者への様々な対応を含めオーナー様に代わり、きめ細かく物件の管理をいたします。もちろん入居者募集の仲介業務のみも承っております。 </p>
                        </div>
                    </div>
                </div>
                <div id="to-sell">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="inner">
                        <div class="text">
                            <h3>物件を売りたいお客様</h3>
                            <p>滝川市内を中心に、物件売買の仲介を致します。
                                <br>詳しくはお問い合わせください。 </p>
                        </div>
                        <div class="btn-container">
                            <p>
                                <a href="#!/generalservice/contact">お問い合わせ</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="to-buy">
                    <div class="inner">
                        <div class="btn-container">
                            <p>
                                <a target="_blank" href="https://asp.athome.jp/030062/shumokus?direct_search=true&shubetsu=baibai">CLICK</a>
                            </p>
                        </div>

                        <div class="text">
                            <h3>物件を買いたいお客様</h3>
                            <p>滝川市内を中心に物件売買の仲介を致します。 </p>
                        </div>
                    </div>
                </div>
            </div>
            <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></span>
        </div>
        <div class="row gs-mission">
            <div class="right col-lg-10 col-md-10 col-sm-10 col-xs-12
                col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <div class="row">
                    <div class="column-1 col-lg-4 col-md-3 col-sm-3 col-xs-6">
                        <div>
                            <img class="h-img" src="../R/gs_home/Officeentrance.jpg" alt="">
                            <div class="desc">お気軽にお入り下さい。</div>
                        </div>
                    </div>
                    <div class="column-1 col-lg-2 col-md-3 col-sm-3 col-xs-6">
                        <div>
                            <img class="h-img" src="../R/gs_home/office_closeup.jpg" alt="">
                            <div class="desc">“いつもキレイにしてますね”
                                <br> と皆さまにお褒めいただきます。
                            </div>
                        </div>
                    </div>
                    <div class="column-2 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div>
                            <img class="h-img" src="../R/gs_home/Apartment_1.png" alt="">
                            <div class="desc">description</div>
                        </div>
                    </div>
                    <div class="column-2 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div>
                            <img class="h-img" src="../R/gs_home/apartment_2.png" alt="">
                            <div class="desc">description</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-controller="gsNewsCtrl">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 
            col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="__wrapper">
                    <div class="news-title">
                            NEWS
                        </div>
                    <div class="row">
                        <div class="col-lg-6" ng-repeat="news in newsList">
                                <div class="news-card" >
                                        <div class="icon">
                                            <img src="">
                                        </div>
                                        <div>
                                            <div class="date">
                                                {{news.daymonth}}
                                            </div>
                                            <div class="content">
                                                {{news.title}}
                                            </div>
                                        </div>
                    
                                    </div>
        
                        </div>
        
                    </div>
            </div>

     
            </div>
        </div>
    </div>
    <footer>
        <div ng-include="'partials/gs_footer.html'"></div>
    </footer>
    <script>
        $(document).ready(() => {
            var hash = window.location.hash;
            console.log(window.location.hash);
            $('.nav > li > a[href="' + hash + '"]').parent().addClass('active');
        });
    </script>
    <script>
        $(() => {
            $('.bxslider').bxSlider({
                mode: 'fade',
                auto: true,
                pager: false,
                keyboardEnabled: true,
            });
        });
    </script>
    <!-- bxSlider Javascript file -->
    <script src="../plugins/facebooklikeslider/js/jquery.bxslider.js"></script>
</body>

</html>