<!DOCTYPE>
<html>
    <head>
        <title>

        </title>

        <link rel="stylesheet" href="../CSS/generalServiceStyles/home_gs_styles.css"/>
        <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_header_styles.css"/>
        <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_menu_styles.css"/>
        
        
    </head>
    <header>
            <div w3-include-html="/partials/gs_header.html"></div>
            
        
    </header>
    <body>
            <script>w3.includeHTML();</script>
        <script>
            $(document).ready(function(){   
                var hash = window.location.hash;
                console.log(window.location.hash);
                $('.nav > li > a[href="'+hash+'"]').parent().addClass('active');
            });

        </script>
        
    </body>
</html>