<!DOCTYPE>
<html>

<head>
    <title>

    </title>

    <link rel="stylesheet" href="../CSS/generalServiceStyles/home_gs_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_header_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_menu_styles.css" />
    <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_footer_styles.css" />
    <link rel="stylesheet" href="../CSS/tn_webfonts.css" />
    
    <!-- bxSlider CSS file -->
    <link href="../plugins/facebooklikeslider/css/jquery.bxslider.css" rel="stylesheet" />

</head>
<header>
    <div ng-include src="'partials/gs_header.html'"></div>


</header>

<body>
    <div id="gs-home-slider">
        <div class="bxslider">
            <div>
                <img src="../R/article1.jpg" title="Funky roots">
            </div>
            <div>
                <img src="../R/article2.jpg" title="The long and winding road">
            </div>
            <div>
                <img src="../R/article3.jpg" title="Happy trees">
            </div>
        </div>

    </div>

    <div class="home-main-body" ng-controller="GsHomeCtrl">
        <div class="row for-customers">
            <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></span>
            <div class="wrapper col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div id="to-sell">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="inner">
                        <div class="text">
                            <h3>物件を売りたいお客様</h3>
                            <p>滝川市内を中心に、物件売買の仲介を致します。 </p>
                        </div>
                        <div class="btn-container">
                            <p>CLICK</p>
                        </div>
                    </div>
                </div>
                <div id="to-buy">
                    <div class="inner">
                        <div class="btn-container">
                            <p>CLICK</p>
                        </div>

                        <div class="text">
                            <h3>物件を買いたいお客様</h3>
                            <p>滝川市内を中心に物件売買の仲介を致します。 </p>
                        </div>

                    </div>
                </div>

            </div>
            <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></span>

        </div>
        <div class="row gs-mission">
                <div class="left col-lg-5 col-md-5 col-sm-5 col-xs-10
                        col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <h2>
                        谷口総合サービスとは・・・
                        <div id="custom-border"></div>
                    </h2>
                    <p class="darker">It is a long established fact that a reader will be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more or less normal distribution
                        of letters, as opposed to using Content here content here making it look like redable English.

                    </p>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The point of using Lorem Ipsum is that it has a more or less normal distribution of letters, as opposed
                        to using Content here content here making it look like redable English.

                    </p>
                    <p>
                        The point of using Lorem Ipsum is that it has a more or less normal distribution of letters, as opposed to using Content
                        here content here making it look like redable English.

                    </p>
                </div>
                <div class="right col-lg-5 col-md-5 col-sm-5 col-xs-10
                col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
                    <div class="row">
                            <div class="column-1 col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                    <img class="h-img" src="../R/gs_home/Apartment1.png" alt="">
                                    <img class="h-img" src="../R/gs_home/apartment_2.png" alt="">
                                </div>
                                <div class="column-2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <img class="h-img" src="../R/gs_home/apartment_1.png" alt="">
                                    <img class="h-img" src="../R/gs_home/apartment_blossom.jpg" alt="">
                                </div>
                    </div>
                 
                </div>
        </div>
    </div>


    <footer>
        <div ng-include src="'partials/gs_footer.html'"></div>
    </footer>

    <script>
        $(document).ready(function () {
            var hash = window.location.hash;
            console.log(window.location.hash);
            $('.nav > li > a[href="' + hash + '"]').parent().addClass('active');
        });

    </script>
    <script>
        $(function () {
            $('.bxslider').bxSlider({
                mode: 'fade',
                auto: true,
                pager: false,
                keyboardEnabled: true,
            });
        });
    </script>
    <!-- bxSlider Javascript file -->
    <script src="../plugins/facebooklikeslider/js/jquery.bxslider.js"></script>
</body>

</html>