<!DOCTYPE>
<html>
    <head>
        <title>

        </title>

        <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_owners_styles.css"/>
        <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_header_styles.css"/>
        <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_menu_styles.css"/>
        <link rel="stylesheet" href="../CSS/generalServiceStyles/gs_footer_styles.css"/>
        
    </head>
    <header>
            <div w3-include-html="/partials/gs_header.html"></div>
            
        
    </header>
    <body>
        <div class="gs-title">
                OWNER OF RENTAL APARTMENT <br> APARTMENT HOUSE

        </div>
            

            <footer>
                    <div w3-include-html="/partials/gs_footer.html"></div>
            </footer>

            <script>w3.includeHTML();</script>
            <script>
            $(document).ready(function(){   
                var hash = window.location.hash;
                console.log(window.location.hash);
                $('.nav > li > a[href="'+hash+'"]').parent().addClass('active');
            });

            </script>
            
            <!-- bxSlider Javascript file -->
            <script src="../plugins/facebooklikeslider/js/jquery.bxslider.js"></script>
    </body>
</html>