<!DOCTYPE>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <title>Taniguchi Corp. metal plate ltda.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../plugins/facebooklikeslider/css/jquery.bxslider.css">
    <link rel="stylesheet" href="../CSS/main.css" type="text/css">
    <link rel="stylesheet" href="../CSS/menu.css" type="text/css">
    <link rel="stylesheet" href="../CSS/footer.css" type="text/css">
    <link rel="stylesheet" href="../CSS/article_box.css" type="text/css">
    <link rel="stylesheet" href="../CSS/metalPlateStyles/mp_header_styles.css" />


    <!--    <script src="scripts/responsivemenu.js"></script>-->

</head>
<header>

    <div ng-include src="'partials/mp_header.html'"></div>

</header>

<body>
    <div class="body-container">
        <div class="bxslider">
            <div>
                <img src="../R/mp_home/materials_1.jpg" title="確かな技術と最新鋭の設備。" />
            </div>
            <div>
                <img src="../R/mp_home/roof_black.jpg" title="The long and winding road" />
            </div>
            <div>
                <img src="../R/mp_home/roof_tanihouse.jpg" title="Happy trees" />
            </div>
        </div>


    </div>

    <div class="main-body">

        <div class="options-section" ng-controller="optionsCtrl">
            <div class="container-fluid">
                <div class="row" style="max-width: 100%; margin: 0;">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1" style="padding: 0px; ">

                        <div class="row internal-serv-row hidden-xs hidden-sm">
                            <div ng-click="redirectTo('/business')" class="thumbnail col-lg-3-and-half col-md-3-and-half col-sm-3-and-half col-xs-full">
                                <div class="box-icon" id="box-1">
                                    <img class="img-icon" src="../R/services_black.png">
                                </div>
                                <div class="caption" id="cap-1">
                                    <h3>事業内容</h3>
                                </div>
                            </div>

                            <div ng-click="redirectTo('/company')" class="thumbnail col-lg-3-and-half col-md-3-and-half col-sm-3-and-half col-xs-full col-lg-offset-3-cuarters col-md-offset-3-cuarters col-sm-offset-3-cuarters">
                                <div class="box-icon" id="box-2">
                                    <img class="img-icon" src="../R/icons/company_icon_unactive.png">
                                </div>
                                <div class="caption" id="cap-2">
                                    <h3>会社概要</h3>
                                </div>
                            </div>
                            <div ng-click="scrollTo('mp-contact')" class="thumbnail col-lg-3-and-half col-md-3-and-half col-sm-3-and-half col-xs-full col-lg-offset-3-cuarters col-md-offset-3-cuarters col-sm-offset-3-cuarters">
                                <div class="box-icon" id="box-3">
                                    <img class="img-icon" src="../R/icons/contact_icon_unactive.png">
                                </div>
                                <div class="caption" id="cap-3">
                                    <h3>お問い合わせ</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-click="redirectTo('/business')" class="mobile-icons col-sm-4 col-xs-4 hidden-lg hidden-md">
                                    <img class="img-icon" src="../R/services_black.png">
                                    <div class="title">事業内容</div class="title">
                            </div>
                            <div ng-click="redirectTo('/company')" class="mobile-icons col-sm-4 col-xs-4 hidden-lg hidden-md">
                                    <img class="img-icon" src="../R/icons/company_icon_unactive.png">
                                    <div class="title">会社概要</div class="title">
                            </div>
                            <div ng-click="scrollTo('mp-contact')" class="mobile-icons col-sm-4 col-xs-4 hidden-lg hidden-md">
                                    <img class="img-icon" src="../R/icons/contact_icon_unactive.png">
                                    <div class="title">お問い合わせ</div class="title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-section">

            <div class="title-company" style="width: 100%">
                <h1>
                    <span class="section-title-bold">谷口板金</span>
                    <div class="section-title">
                        <div class="title">とは…</div>
                        <div class="deco-container">
                            <div class="ball"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </h1>
            </div>
            <div class="text-body">
                <p class="about-text">有限会社谷口板金工業所は、屋根・外壁工事を専門とする会社です。</p>
                <h2>屋根・外壁のことならおまかせください。</h2>
                <br>
                <p class="about-text">住宅から工場やビル・神社仏閣などの大規模施設まで、あらゆる建築物に対応し工事いたします。
                    <br>長年の実績と豊富な経験で培った技術、そして最新鋭の設備でお客様のあらゆるニーズにお応えします。</p>

            </div>

            <div class="row" style="padding: 0px; padding-top: 10px;">
                <div class="col-lg-10 col-md-10 col-xs-12 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0" style="padding: 0px;">
                    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">

                        <div class="about-content">

                            <div class="about-content left">
                                <p>There are many variations passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form by injected humour or randomissed words which don't look even
                                    slightly belieavable if you are going to use a passage of Lorem Ipsum you need to be
                                    sure there isnt anything embarrasing hidden in the middle of text</p>

                                <p>If you are going to use a passage of Lorem Ipsum you need to be sure there isnt anything
                                    embarrasing hidden in the middle of text</p>

                                <p>There are many variations passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form by injected humour or randomissed words which don't look even
                                    slightly belieavable </p>

                            </div>


                        </div>

                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">

                        <div class="about-content">

                            <div class="about-content right">
                                <img src="../R/mp_home/windows.jpg">
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="news-section">
            <div class="title-company" style="width: 100%;">
                <h1>
                    <span class="section-title-bold">谷口板金</span>
                    <span class="section-title">

                        <div class="title">NEWS</div>
                        <div class="deco-container">
                            <div class="ball"></div>
                            <div class="line"></div>
                        </div>
                    </span>
                </h1>
            </div>

            <div class="row" ng-controller="HomeNewsController">
                <div class="main-col col-lg-10 col-md-10 col-sm-12 col-xs-12 
                        col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <div class="child-col col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-repeat="article in articleList | limitTo : 3">
                        <div class="container-fluid" style="padding: 0;">
                            <div class="row thumbnail">
                                <div class="top-card col-lg-12 col-md-12 col-sm-5 col-xs-5">
                                    <img class="main-img" ng-src="{{article.pictures[0].url}}" alt="...">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-7 col-xs-7 caption">
                                    <div class="article-title">{{article.title}}</div>
                                    <div class="content">{{article.content}}</div>
                                    <div class="article-footer">
                                        <div class="date">
                                            {{article.daymonth}} {{article.date | limitTo : 4}}
                                        </div>
                                        <div class="line"></div>
                                        <div class="btn-round">
                                            <a class="btnClick" data-toggle="modal" data-target="#modal{{article._id}}"><img src="../R/icons/path-3.svg"></a>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modal{{article._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">{{article.title}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="slider">
                                                        <div ng-repeat="picture in article.pictures | limitTo : 4 : 1">
                                                            <img ng-src="{{picture.url}}" ng-attr-title="{{picture.description}}" />
                                                        </div>

                                                    </div>
                                                    <script>
                                                        $(".btnClick").click(function () {
                                                            setTimeout(function () {
                                                                $('.slider').bxSlider({
                                                                    mode: 'fade',
                                                                    captions: true,
                                                                    touchEnabled: true
                                                                });
                                                            }, 280);
                                                        });
                                                    </script>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="bottom-box">

            <div class="row" style="padding: 0px; margin: 0px">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 
                col-md-offset-1 col-sm-offset-1 col-xs-offset-0" style="padding: 0px;">

                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10
                            col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-1" style="padding-right: 0px; padding-left: 0px;">
                            <div id="mp-contact" class="contact-box" ng-controller="mpFormCtrl">
                                <h3 class="contact-title">お問い合わせ</h3>

                                <form name="mpContactForm" ng-submit="sendContactForm(mpcontact)" class="contact-form">
                                    <div class="form-group">
                                        <input ng-model="mpcontact.content" type="text" class="form-control" name="content" placeholder="お問い合わせ内容＊">
                                    </div>
                                    <div class="form-group">
                                        <input ng-model="mpcontact.nameKanji" type="text" class="form-control" name="nameKanji" placeholder="お名前（漢字）＊">
                                    </div>
                                    <div class="form-group">
                                        <input ng-model="mpcontact.namekatakana" type="text" class="form-control" name="namekatakana" placeholder="お名前（カタカナ）＊">
                                    </div>
                                    <div class="form-group">
                                        <input ng-model="mpcontact.email" type="text" class="form-control" name="email" placeholder="E-mail＊">
                                    </div>
                                    <div class="form-group">
                                        <input ng-model="mpcontact.phone" type="tel" class="form-control" name="phone" id="tel" placeholder="電話番号＊">
                                    </div>
                                    <div class="form-group">
                                        <input ng-model="mpcontact.fax" type="tel" class="form-control" name="fax" id="fax" placeholder="FAX番号">
                                    </div>
                                    <button type="submit" class="btn btn-primary">送信</button>
                                </form>

                            </div>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="padding-right: 0px; padding-left: 0px;">
                            <div class="map-container">

                                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d722.8132867177167!2d141.90654682920848!3d43.5596079705375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0c98d88d92de73%3A0x6893b993c8972458!2zSmFwYW4sIOOAkjA3My0wMDIxIEhva2thaWTFjSwgVGFraWthd2Etc2hpLCBIb25tYWNoaSwgMiBDaG9tZeKIkjPiiJI1LCDvvLTvvLPjg5Pjg6s!5e0!3m2!1sen!2sus!4v1512529915990"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            $(function () {
                $('.bxslider').bxSlider({
                    mode: 'fade',
                    captions: true,

                });
            });
        </script>

        <div ng-include src="'partials/mp_footer.html'"></div>

        <script type="text/javascript" src="../scripts/jquery.cycle2.min.js"></script>
        <script src="../plugins/facebooklikeslider/js/jquery.bxslider.js"></script>
        <script type="text/javascript" src="../scripts/footer_collapse.js"></script>
</body>

</html>