<!DOCTYPE>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Taniguchi Corp.</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.cycle2.min.js"></script>

    <link rel="stylesheet" href="../CSS/main.css" type="text/css">
    <link rel="stylesheet" href="../CSS/menu.css" type="text/css">
    <link rel="stylesheet" href="../CSS/footer.css" type="text/css">
    <link rel="stylesheet" href="../CSS/article_box.css" type="text/css">
    <link rel="stylesheet" href="../CSS/services_circle.css" type="text/css">
<!--    <script src="scripts/responsivemenu.js"></script>-->
</head>
    
<header>
    
    <div class="social">
            <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
            <div class="col-lg-10 col-xs-12 col-sm-8 col-md-8" style="padding: 0px; margin: 0px; ">
                
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">
                        
                    <p class="secondaryText">It is a long established fact that</p>    
                
                </div> 
            
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;"> 
                    
                        <div class="social-icons">
                            <img src="../R/face_gray.png" alt="F">
                        
                        </div>
                        
                </div>

            </div>         
        <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
    </div>
    
    <div class="logo-header">
            <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
            <div class="col-lg-10 col-xs-12 col-sm-8 col-md-8" style="padding: 0px; margin: 0px; 
                                                                    display: flex; align-items: center; ">
                
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-12" style="padding-right: 0px; padding-left: 0px;">
                        <div class="logos">
                                <img class="logo-img" src="../R/Metalplatelogo.jpg">
                                <img src="../R/title_logo.png">

                        </div>
                        

                </div> 
            
                <div class="col-xs-12 col-md-3 col-lg-3 col-sm-12" style="padding-right: 0px; padding-left: 0px;"> 
                    
                        <div class="info-header">
                            <img class="col-xs-12 col-sm-12 col-md-12 col-lg-4" style="padding-left: 0px;" src="../R/ic_phone.png" alt="Phone:">

                            <div class="info-content col-xs-12 col-sm-12 col-md-12 col-lg-8" style="padding-right: 0px; padding-left: 10px">
                                <h5>000 255 3658</h5>
                                <p>info@taniguchibanking.com</p>

                            </div>
                        
                        </div>
                        
                </div>

                <div class="col-xs-12 col-md-3 col-lg-3 col-sm-12" style="padding-right: 0px; padding-left: 0px;"> 
                        
                            <div class="info-header">
                                <img src="../R/ic_location.png" alt="Location">

                                <div class="info-content col-xs-12 col-sm-12 col-md-12 col-lg-8" style="padding-right: 0px; padding-left: 10px">
                                        <h5>123 Midori Machi</h5>
                                        <p>Takikawa, Hokkaido</p>
        
                                    </div>
                            
                            </div>
                            
                    </div>

            </div>         
        <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
        

    </div>

    <div class="menu">
    
        <nav id="main-menu" class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdowService" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                    </li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        <!-- /.container-fluid -->
        </nav>

    </div>

    </header>
    
    <body>
        
        <div class="body-container">
            <div class="cycle-slideshow"
                 data-cycle-fx="fadeout"
                 data-cycle-speed=1500
                 data-cycle-timeout=3000
                 data-cycle-caption-plugin="caption2"
                 data-cycle-overlay-fx-out="slideUp"
                 data-cycle-overlay-fx-in="slideDown">
                
                <div class="cycle-pager"></div>
                <div class="cycle-overlay"></div>
                
                <img src="../R/slider1.jpg" 
                     data-cycle-title="<h1 style=font-weight: bold,
                        color: red;>確かな技術と最新鋭の設備。</h1>" 
                     data-cycle-desc="半世紀に渡る信頼に支えられて<br> 私たちは、あらゆるニーズに取り組み続けています。" 
                     alt="WE WORK FOR YOU">
                
                <img src="../R/slider2.JPG" 
                     data-cycle-title="<h1>確かな技術と最新鋭の設備。</h1>" 
                     data-cycle-desc="半世紀に渡る信頼に支えられて<br> 私たちは、あらゆるニーズに取り組み続けています。" 
                     alt="WE WORK FOR YOU">
                
                <img src="../R/slider3.JPG" 
                     data-cycle-title="<h1>確かな技術と最新鋭の設備。</h1>" 
                     data-cycle-desc="半世紀に渡る信頼に支えられて<br> 私たちは、あらゆるニーズに取り組み続けています。" 
                     alt="WE WORK FOR YOU">
    
            </div>       
        </div>
        
        <div class="main-body">

                <div style="width: 100%">
                        
                       
                    
            
                    </div>
        
        <div class="options-section">
            <div class="row" style="padding: 0px; margin: 0px">
                <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
                    <div class="col-lg-10 col-xs-12 col-sm-8 col-md-8" style="padding: 0px; margin: 0px; ">
                        <div class="col-xs-12 col-md-4 col-lg-4 col-sm-6" style="padding-right: 0px; padding-left: 0px;">
                                <div class="options-box" >
                                        <div class="box-icon">
                                            <img class="img-icon" src="../R/services_black.png"></div>
                                        <div class="box-content">
                                            <div class="box-content-text">
                                            <h3>事業内容</h3>
                                            <p class="box-content-info">It is a long establised fact that a reader will be distracted by the readable content of a page</p>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>    
                        
                        
                        </div>
                        <div id="middle-box" class="col-xs-12 col-md-4 col-lg-4 col-sm-6">
                                <div class="options-box">
                                        <div class="box-icon">
                                            <img class="img-icon" src="../R/company_black.png">
                                        </div>
                                        <div class="box-content">
                                            <div class="box-content-text">
                                            <h3>会社概要</h3>
                                            <p class="box-content-info">It is a long establised fact that a reader will be distracted by the readable content of a page</p>
                                            </div>
                                        </div>
                                    
                                    </div>    
                        
                        
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4 col-sm-6" style="padding-right: 0px; padding-left: 0px;"> 
                            
                                <div class="options-box">
                                    <div class="box-icon">
                                        <img class="img-icon" src="../R/contact_black.png">
                                    </div>
                                    <div class="box-content">
                                        <div class="box-content-text">
                                        <h3>お問い合わせ</h3>
                                        <p class="box-content-info">It is a long establised fact that a reader will be distracted by the readable content of a page</p>
                                        </div>
                                    
                                    </div>
                                
                                </div>
                                
                        </div>
                    </div>         
                <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
            </div>
        
        </div>
        
        <div class="about-section">
            
            <div class="title-company" style="width: 100%">
            <h1><span class="section-title-bold">ABOUT</span><span class="section-title"> OUR COMPANY</span></h1>
            </div>
               <p class="about-text">有限会社谷口板金工業所は、屋根・外壁工事を専門とする会社です。</p><h2>屋根・外壁のことならおまかせください。</h2><br><p class="about-text">住宅から工場やビル・神社仏閣などの大規模施設まで、あらゆる建築物に対応し工事いたします。<br>長年の実績と豊富な経験で培った技術、そして最新鋭の設備でお客様のあらゆるニーズにお応えします。</p>  
            
               <div class="row" style="padding: 0px; margin: 0px; padding-top: 10px;">
                    <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
                        <div class="col-lg-10 col-xs-12 col-sm-8 col-md-8" style="padding: 0px; margin: 0px; ">
                            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">

                                <div class="about-content">
                                            
                                    <div class="about-content left">
                                        <p>There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour or randomissed words which don't look even slightly belieavable if you are going to use a passage of Lorem Ipsum you need to be sure there isnt anything embarrasing hidden in the middle of text</p>
                                        
                                        <p>If you are going to use a passage of Lorem Ipsum you need to be sure there isnt anything embarrasing hidden in the middle of text</p>
                                    
                                        <p>There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour or randomissed words which don't look even slightly belieavable </p>
                                
                                    </div>
                                    
                                
                                </div>   
                            
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">

                                    <div class="about-content">
                                            
                                        <div class="about-content right">
                                                <img src="../R/machine.jpg">
                                        </div>
                                    
                                    </div>
                                        
                            </div>
                        </div>         
                    <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
                </div>
        
        </div>
        
        <div class="news-section">
            <div class="title-company" style="width: 100%">
            <h1><span class="section-title-bold">OUR</span><span class="section-title"> LATEST NEWS</span></h1>
            </div>
            <p class="news-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some formby injected humour or randomised</p>
            
            <div class="row" style="padding: 0px; margin: 0px">
                    <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
                        <div class="col-lg-10 col-xs-12 col-sm-8 col-md-8" style="padding: 0px; margin: 0px; ">
                            <div class="col-xs-12 col-md-4 col-lg-4 col-sm-6" style="padding-right: 0px; padding-left: 0px;">

                                    <div class="article-box">
                                        <div class="article-img">
                                                <img src="../R/article1thumb.JPG">
                                                
                            
                                            </div>
                            
                                            <div class="article-foot">
                                                    <div class="date">
                                                        <p class="day">10 Jun</p>
                                                        <p class="year">2017</p>


                                                    </div>
                                                    <div class="author">By: Sayuri San</div>
                                            </div>
                            
                                            <div class="article-text">
                                                    <h4>Lorem Ipsum is simply dummy text</h4>
                                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual thruth.</p>
                                            </div>
                                        
                                        </div>    
                            
                            </div>
                            <div id="middle-article-box" class="col-xs-12 col-md-4 col-lg-4 col-sm-6">

                                <div class="article-box">
                                        <div class="article-img">
                                                <img src="../R/article2thumb.JPG">
                                        </div>
                        
                                        <div class="article-foot">
                                            <div class="date">
                                                <p class="day">10 Jun</p>
                                                <p class="year">2017</p>

                                            </div>
                                            <div class="author">By: Sayuri San</div>
                                        </div>
                        
                                        <div class="article-text">
                                            <h4>Lorem Ipsum is simply dummy text</h4>
                                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual thruth.</p>
                                        </div>  
                                
                                </div>
                                           
                            
                            
                            </div>
                            <div class="col-xs-12 col-md-4 col-lg-4 col-sm-6" style="padding-right: 0px; padding-left: 0px;">
                                
                                <div class="article-box">
                                        
                                    <div class="article-img">
                                            <img src="../R/article3thumb.JPG"> 
                                    </div>
                        
                                    <div class="article-foot">
                                            <div class="date">
                                                <p class="day">10 Jun</p>
                                                <p class="year">2017</p>

                                            </div>
                                            <div class="author">By: Sayuri San</div>
                                    </div>
                        
                                    <div class="article-text">
                                            <h4>Lorem Ipsum is simply dummy text</h4>
                                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual thruth.</p>
                                    </div>
                            
                                </div>
                                    
                            </div>
                        </div>         
                    <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
                </div>

            
            </div>
        
        </div>

        <div class="bottom-box">

                <div class="row" style="padding: 0px; margin: 0px">
                        <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>
                        <div class="col-lg-10 col-xs-12 col-sm-8 col-md-8" style="padding: 0px; margin: 0px; ">

                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">
                                        <div class="contact-box">
                                                <span class="contact-title">WE WOULD LOVE TO HEAR FROM YOU</span>
                                                <form name="contact-form">
                                                    <input type="text" name="name" placeholder="*Name" >
                                                    <input type="email" name="email" placeholder="Email*">
                                                    <input type="text" name="message" placeholder="Message*">
                                                    <button type="submit">SEND</button>
                                                </form>
                                            </div>

                                </div>

                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6" style="padding-right: 0px; padding-left: 0px;">
                                        <div class="map">
                                                <iframe
                                                  frameborder="0" style="border:0"
                                                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB3Dg5WXMBa21xvPSgdEzx-Q9aX42xgwt4
                                                    &q=Space+Needle,Seattle+WA" allowfullscreen>
                                                </iframe>
                                            
                                        </div>

                                </div>



                        </div>



                        <span class="col-lg-1 hidden-xs col-md-2 col-sm-2"></span>


                </div>
        </div>
        
        
            
        </div>
        
        <!-- <script>
        $(document).ready(readyDocument);
            
            
            function readyDocument(){
              $(".dropdowService").click(function(){
               $(this).parent().css({backgroundColor:"white",color:"black"}); 
               $(this).animate({opacity:0,left:"80%"},5000,function(){
                   console.log("termine");
               });
                console.log( $(this).parent().attr("class"));
            });
            $(".dropdowService").mouseover(function(){ //for modifing menu dropdown css, on mouse events
               $(this).css({backgroundColor:"white",color:"black"}); 
            });
            $(".dropdowService").mouseout(function(){
               $(this).css({backgroundColor:"black",color:"white"}); 
            });
            }
        </script> -->
        
    </body>

    
    <footer>
    <div class="container">
    	<div class="row">
            <span class="col-lg-1 hidden-xs col-md-1 hidde-sm"></span>

    		<div class=" col-lg-3 col-md-3 widget">
                <img src="../R/group_logo.jpg">
                <article class="widget_content">
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words wich don't hook.</p>
                 </article>
    		</div>
            <div class="col-lg-2 col-md-2  widget">
                <h2>Contact Us</h2>
                <article class="widget_content">
                    <ul>
                        <li><img src="../R/ic_phone_gray.png"><a>02012312 123 321</a></li>
                        <li><img src="../R/ic_email_gray.png" style="width:35px;"><a>info@taniguchi.co.jp</a></li>
                        <li><img src="../R/ic_location_gray.png"><a>Address is here</a></li>
                    </ul>
                 </article>
    		</div>
            <div class="col-lg-2 col-md-2  widget">
                    <h2 class="orange">Useful Links</h2>
                <ul>
                        
                    <li><a href="index.html">トップページ</a></li>
                    <li><a href="business.html">事業内容</a></li>
                    <li><a href="company.html">会社概要</a></li>
                    <li><a href="contact.html">お問い合わせ</a></li>
                    <li><a href="">NEWS</a></li>
                
                </ul>
    		</div>
            <div class="col-lg-3 col-md-3  widget">
                    <h2 class="green">Newsletter Signup</h2>
        
                <ul>
                    <li>GET LATEST UPDATES, NEWS AND OFFERS</li>
                    <li>Some Link</li>
                </ul>
    	    </div>
        <span class="col-lg-1 hidden-xs col-md-1 hidden-sm"></span>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
    		<div class="col-md-12 widget" style="text-align: center;">© 2017 | COPYRIGHT. ALL RIGHTS RESERVED <span class="pull-right">Minimize your browser »</span>
            </div>
        </div>
    </div>
</footer>
    
</html>
