<!DOCTYPE html>

<html>
    <head>
        <title>


        </title>


        <link rel="stylesheet" href="../CSS/main_taniguchi_styles.css" type="text/css"/>
        
        <!-- bxSlider CSS file -->
        <link href="../plugins/facebooklikeslider/css/jquery.bxslider.css" rel="stylesheet" />
    </head>

    <body>
        <div class="header">
            <div class="main-title">
                <h1>TANIGUCHI</h1>
                <span class="subtitle">Metal plate Ltd / General service Ltd / Architect office</span>
            </div>

        </div>

        <div class="row">
            <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></span>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" style="padding:0px;">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                            <div class="logo-container">
                                    <img src="..." alt="...">
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                            <div class="logo-container">
                                    <img src="..." alt="...">
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                            <div class="logo-container">
                                    <img src="..." alt="...">
                            </div>
                        </div>
                    </div>

            </div>

            <span class="col-lg-1 col-md-1 sm-1 hidden-xs"></span>

        </div>


        <div class="row">

            <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"> </span>

            <div class="slider-container col-lg-10 col-md-10 col-sm-10 col-xs-10">

                    <div class="thumbnail">
                            <div class="bxslider">
                                    <div><img src="/assets/images/coffee1.jpg" title="Funky roots"></div>
                                    <div><img src="/assets/images/coffee2.jpg" title="The long and winding road"></div>
                                    <div><img src="/assets/images/coffee3.jpg" title="Happy trees"></div>
                                  </div>



                    </div>
                    

            </div>

            <span class="col-lg-1 col-md-1 col-sm-1 hidden-xs"> </span>
            
        </div>

        <div class="footer">

        </div>

        <script>
            $(function(){
            $('.bxslider').bxSlider({
                mode: 'fade',
            });
            });
        </script>
        <!-- bxSlider Javascript file -->
        <script src="../plugins/facebooklikeslider/js/jquery.bxslider.js"></script>
    </body>
</html>