<footer>
    <div ng-controller="mpFooterController" class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 
            col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 widget">
                <img src="../R/footer/group_logo_footer.png">
            </div>

            <div class="list col-lg-4 col-md-3 col-sm-3 col-xs-10 
            col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 widget">
                <h2 ng-click="toggleFooter(1)">お問い合わせ</h2>
                <article class="widget_content" ng-class="class1">
                    <ul>
                        <li>
                            <a class="phone-link" href="tel:0125-23-3725">
                                <img src="../R/icons/phone-white.svg">
                            </a>
                            <a href="tel:0125-23-3725" class="num">0125-23-3725</a>
                        </li>
                        <li>
                            <img src="../R/icons/phone-white.svg">
                            <a class="num">FAX 0125-23-2250</a>
                        </li>
                        <li>
                            <img ng-click="openNewTabLoc()" src="../R/icons/location-white.svg">
                            <a ng-click="openNewTabLoc()">北海道滝川市本町2丁目3番5号TSビル1階</a>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="list col-lg-2 col-md-3 col-sm-3 col-xs-10 
            col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 widget">
                <h2 ng-click="toggleFooter(2)">サイトマップ</h2>
                <article class="widget_content" ng-class="class2">
                    <ul>
                        <li>
                            <a href="#!/metalplatehome">トップページ</a>
                        </li>
                        <li>
                            <a href="#!/business">事業内容</a>
                        </li>
                        <li>
                            <a href="#!/company">会社概要</a>
                        </li>
                        <li>
                            <a href="#!/metalplatehome#mp-contact" ng-click="scrollTo('mp-contact')">お問い合わせ</a>
                        </li>
                        <li>
                            <a class="num" href="#!/metalplatehome#mp-news" ng-click="scrollTo('mp-news')">NEWS</a>
                        </li>

                    </ul>
                </article>
            </div>
        </div>

        <div class="row">
            <div class="divider col-lg-10 col-md-10 col-sm-10 col-xs-10
            col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="disclaimer">COPYRIGHT © 2017 ALL RIGHTS RESERVED CREATED BY
                <span class="pull-right"> OWLINVENTION & BLITZAR CORP.</span>
            </div>
        </div>
    </div>
</footer>