<div class="social">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="padding: 0px; ">

        <div class=" col-lg-8 col-md-8 col-sm-6 col-xs-12 " style="padding-right: 0px; padding-left: 0px;">

            <p class="secondaryText">有限会社谷口板金工業所は屋根・外壁工事を専門とする会社です。</p>

        </div>

        <!-- <div class="social-container col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-right: 0px; padding-left: 0px;">

            <div class="social-icons">
                <img src="../R/face_gray.png" alt="F">

            </div>

        </div> -->

    </div>
</div>

<div ng-controller="mpHeaderController" class="row logo-header">

    <div class="col-lg-4 col-md-3 col-sm-5 col-xs-10
        col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class="logos">
            <img class="logo-left" src="../R/Metalplatelogo.jpg">
            <img class="logo-right hidden-xs" src="../R/mp_logo_2.png">
        </div>
    </div>

    <div class="right-container col-lg-6 col-md-7 col-sm-5 col-xs-10
    col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">

        <div class="row rc-row">
            <div id="call-id" class="info-container col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                <img src="../R/icons/phone-blue.svg" alt="Phone:">
                <div class="divider"></div>
                <div class="right-text">
                    <h5>0125-23-3725</h5>
                    <p>FAX 0125-23-2250</p>
                </div>
            </div>

            <div class="info-container col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                <img ng-click="openNewTabLoc()" src="../R/icons/location-blue.svg" alt="Location">
                <div class="divider"></div>
                <div class="right-text">
                    <h5 ng-click="openNewTabLoc()">北海道滝川市本町2丁目3番5号</h5>
                    <p>ＴＳビル1階</p>
                </div>
            </div>

            <div class="mobile-container hidden-lg hidden-md col-sm-8 col-xs-8">
                <div class="center">
                    <a href="tel:0125-23-3725">
                        <img src="../R/icons/phone.svg" alt="Phone:">
                    </a>
                    <div class="divider"></div>
                    <img ng-click="openNewTabLoc()" src="../R/icons/location.svg" alt="Location">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="row mp-menu" ng-controller="mpMenuController">
    <div class="menu col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">

        <nav id="main-menu" class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="../R/logos/Logo Taniguchi.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#!/metalplatehome">トップページ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!/business">事業内容</a>
                        </li>
                        <li>
                            <a href="#!/company">会社概要</a>
                        </li>
                        <li>
                            <a class="news-link" href="#!/metalplatehome#mp-news" ng-click="scrollTo('mp-news')">ニュース</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

    </div>
</div>